<div class="item">
    <div class="vertical-separator blue"></div>
    <div class="header">
        {# Not implement yet!
        <div class="buttons-container">
            <a href="{{ path('hello_world_manager_administration_see') }}" class="btn bns-notice btn-16 small right btn-visualisation">
                <span class="icons-16 right"></span>
                <strong>Renouveler l'abonnement</strong>
            </a>
        </div>
        #}
        <h3>{{ subscription['name'] }}</h3>
        {# Not implement yet!
        <h4>Attention, votre abonnement se termine dans 2 jours.</h4>
        <h4>Pensez à le Renouveler.</h4>
        #}
    </div>
    <div class="text">
        {{ subscription['description'] }}
    </div>
</div>