{% trans_default_domain "PORTAL" %}
<div class="header-buttons">
    <div class="inner-header">
        <div class="container container-fluid">
            <div class="row-fluid">
                <div class="span9">&nbsp;</div>
                <div class="span3 align-right">
                    <a id="submit-form" href="#" class="btn bns-success validate-medium btn-24 medium">
                        <span class="icons-24 validate-icon"></span>
                        {{ 'LINK_SAVE'|trans |desc('<strong>Enregistrer</strong>') |raw}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>