{% trans_default_domain "PROFILE" %}
<script type="text/javascript">
	$(function ()
	{
		var angularizer = new Angularizer();
		// Filters process
		$('.statuses-sidebar-filter').click(function (e)
		{
			$('.statuses-sidebar-filter').removeClass('md-primary');
			var $this = $(e.currentTarget),
				$layer = $('#layer');

			$this.addClass('md-primary');
			$layer.fadeIn('fast');

			$.ajax({
				url: $this.attr('href'),
				type: 'POST',
				dataType: 'html',
				data: {
					'page': 1,
					'object_status': $this.data('filter-status')
				},
				success: function (data)
				{
          $('.feeds-list').html(angularizer.process(data));
          if ($this.data('filter-status') != 'PENDING_VALIDATION' || $('.feeds-list').children().length < 2 ) {
            $('.md-toolbar-tools .validate-all-statuses').hide();
          }
          else {
            $('.md-toolbar-tools .validate-all-statuses').show();
          }
				}
			}).done(function ()
			{
				$layer.fadeOut('fast')
			});

			return false;
		});
		// Buttons moderation process
		$('.feed-moderation').live('click', function (e)
		{
			var $this = $(e.currentTarget),
				id = this.id,
				// $row = $('#status-' + id).parent();
				$row = $this.closest('md-list-item');


			// if ($row.hasClass('btn-group')) {
			// 	$row = $row.parent().parent().parent();
			// }

			if ($row.hasClass('disabled')) {
				return false;
			}

			$row.css('opacity', '.4').addClass('disabled');
			var date = $('.feed').last().length > 0 ? $('.feed').last().data('after-date') : null,
				page = $('.pagination').length > 0 ? $('.pagination').data('current-page') : 1;

			$.ajax({
				url: '{{ path('profile_manager_moderation_statuses_update') }}',
				type: 'POST',
				dataType: 'json',
				data: {
					'object_status': $this.data('filter-status'),
					'id': id,
					'date': date,
					'page': page
				},
				success: function (data)
				{

					$data = $(angularizer.process(data.feed));
					$data.css('display', 'none');

					$('.feeds-list md-list').append($data);

					$data.slideDown('slow');

					if (data.pager != '') {
						$('.pagination').closest('md-toolbar').replaceWith(angularizer.process(data.pager));
					}
					else {
						$('.pagination').closest('md-toolbar').slideUp('slow');
					}
				}
			}).done(function ()
			{
				$row.css({'min-height': 0}).slideUp('slow');
			});

			return false;
		});

		// Pagination process
		$('.pagination a').live('click', function (e)
		{
			var $this = $(e.currentTarget),
				$layer = $('#layer');

			$layer.fadeIn('fast');
			setTimeout(function ()
			{
				$layer.find('.message').addClass('bottom');
			}, 50);

			$.ajax({
				url: $this.attr('href'),
				type: 'POST',
				dataType: 'html',
				data: {
					'page': $this.data('page'),
					'status': $this.parent().parent().parent().data('status')
				},
				success: function (data)
				{
					$('.feeds-list').html(angularizer.process(data));
				}
			}).done(function ()
			{
				$layer.fadeOut('fast');
				$layer.find('.message').removeClass('bottom');
			});

			return false;
		});

		// Validate all button process
		$('div.md-toolbar-tools .validate-all-statuses').click(function (e)
		{
			var $this = $(e.currentTarget);

			if ($this.hasClass('disabled')) {
				return false;
			}

			$this.addClass('disabled').attr('disabled', 'disabled');
			$.ajax({
				url: '{{ path('profile_manager_moderation_statuses_validate_all') }}',
				type: 'POST',
				success: function ()
				{
					window.location.reload(true);
				}
			});

			return false;
		});

		$('.container-sidebar .moderation-statuses').click(function (e)
		{
			var $this = $(e.currentTarget);
			if ($this.hasClass('loading')) {
				return false;
			}

			$this.addClass('loading');

			$.ajax({
				url: $this.attr('href'),
				type: 'POST',
				data: {'state': !$this.hasClass('off')},
				success: function (data)
				{
					$this.removeClass('loading');
					$this.toggleClass('on').toggleClass('off');
				}
			});

			return false;
		});
	});
</script>

<div class="feeds-list-container feeds-list flex layout-column">
		{{ render(controller('BNSAppProfileBundle:BackModeration:show', {'page': page} )) }}
</div>
