{% trans_default_domain "PROFILE" %}
{% extends 'BNSAppProfileBundle:Layout:manager.html.twig' %}

{% block title %}
  {% trans %}TITLE_PROFILE_MODERATION{% endtrans %}
{% endblock title %}

{% block javascripts %}
	{{ parent() }}
{% endblock javascripts %}

{% block sidebar_content %}
	{% include 'BNSAppProfileBundle:Sidebar:sidebar.html.twig' with {'section': 'moderation'} %}
{% endblock %}

{% block actionbar_content %}
	<span flex></span>
	{{ components.button( 'LINK_VALIDATE_ALL_STATUS' | trans , { intent: 'accent', href: '#', icon: 'done', raised: true, attr : {
    'class':'validate-all-statuses',
    'bns-feature-flag': "'profile_status'",
    'bns-feature-push': null
  } }) }}
{% endblock actionbar_content %}

{% block content %}
<md-toolbar class="content-toolbar">
	<div class="md-toolbar-tools layout-align-start-center">
		<bns-sidebar-toggle></bns-sidebar-toggle>
		<h1 class="md-title text-primary text-left flex flex-gt-sm-33">Filtre des status</h1>
	</div>
</md-toolbar>
	{% include 'BNSAppProfileBundle:Moderation:back_moderation_index.html.twig' %}
{% endblock content %}
