<div class="modal-body">
	<div class="content-modal-body">
		<h2>Êtes-vous sûr de vouloir supprimer ce statut "<span class="title"></span> ?</h2>

		<p class="sub-category-warning">
			Attention, la suppression de cette catégorie entraînera également la suppression de toutes ses sous-catégories !
		</p>
		
		<input type="hidden" id="delete-category-id" />
	</div>
</div>
<div class="beneylu-jim"></div>