<img id="" class="" src="{{ getResourceImageUrl(resource,"thumbnail") }}" />
<p><span>{{ resource.label }}</span></p>
{% if false %}
    <a href="" resource-id="{{ resource.id }}" terminal="true" class="btn btn-joined resource-open-joined">
        Afficher
    </a>
{% else %}
    <a href="{{ create_visualisation_url_resource(resource,true) }}" class="btn btn-joined">
        Télécharger
    </a>
{% endif %}
