<img id="" class="" src="{{ getResourceImageUrl(resource,"thumbnail") }}" />
<p><span>{{ resource.label }}</span></p>
<a class="btn btn-joined resource-open-joined" data-resource-id="{{ resource.id }}">
	Afficher
</a>
