{% trans_default_domain "MINISITE" %}

{% if not isAjaxCall %}

<md-toolbar class="content-toolbar">
  <div class="md-toolbar-tools layout-align-start-center">
    <bns-sidebar-toggle></bns-sidebar-toggle>
    <h1 class="md-title text-primary">{{ page.getTitle() }}</h1>
  </div>
</md-toolbar>

<md-content class="item-list-container layout-column flex">

  {% include 'BNSAppMiniSiteBundle:PageNews:back_news_list_filtres.html.twig' %}

</md-content>

<script type="text/javascript">
// Ajaxification des articles - pagination
var angularizer = new Angularizer();

$('body').on('click', '.article-pager', function (e) {
  $.ajax({
    url: $(this).attr('href'),
    success: function (data) {
      $('#content .item-list-container').html(angularizer.process(data));
    }
  });

  return false;
});
</script>

  {% else %}
    {% include 'BNSAppMiniSiteBundle:PageNews:back_news_list_filtres.html.twig' %}
{% endif %}
