{% trans_default_domain "MINISITE" %}
<bns-expander label="{{ 'TITLE_FILTER_NEWS' | trans }}" class="ng-scope ng-isolate-scope" is-open="true">
	<div class="content-title container-content content-form">
		<div class="loader loader-h"></div>


 {{ form_start(filter_form) }}
    {{ form_row(filter_form.status) }}
 {{ form_end(filter_form) }}

	</div>
</bns-expander>
