{% trans_default_domain "MINISITE" %}

{% if status == 'FINISHED' %}
  {% set status_token = 'FINISH' %}
{% elseif status == 'PUBLISHED' %}
  {% set status_token = 'PUBLISH' %}
{% elseif status == 'DRAFT' %}
  {% set status_token = 'NEWS_DRAFT' %}
{% else %}
  {% set status_token = 'WAITING_TO_MODERATION' %}
{% endif %}

<bns-expander label="{{ (isNews is defined ? 'NEWS_STATUS' : 'PAGE_STATUS') | trans }}" is-open="true">
  <div class="md-padding">
    <div class="md-body-2 bns-status-text" bns-status="{ value: '{{ status }}' }">
      {{ status_token|trans }}
    </div>
  </div>
</bns-expander>
