{% trans_default_domain "MINISITE" %}
<bns-expander label="{{ 'NEWS_STATUS' | trans }}" class="ng-scope ng-isolate-scope" is-open="true">
	<div class="md-padding">

      {% set status_token = 'NEWS_'~news.getLogicalStatus() %}

      {% if news.isCityNews() and news.isFuture() %}
        {% set status_token = 'PUBLISHED_FUTURE' %}
      {% elseif news.isCityNews() and news.isPast() %}
        {% set status_token = 'PUBLISHED_PAST' %}
      {% elseif news.isFinished() %}
        {% set status_token = 'NEWS_FINISH' %}
      {% elseif news.isWaitingForCorrection() %}
        {% set status_token = 'NEWS_TO_CORRECT' %}
      {% elseif news.isPublished() %}
        {% set status_token = 'NEWS_PUBLISH' %}
      {% endif %}

      <div class="md-body-2 bns-status-text" bns-status="{ value: '{{ news.getLogicalStatus() }}' }">
        {{ status_token|trans }}
      </div>

	</div>
</bns-expander>
