<bns-inset class="bns-primary" bns-inset-icon="false">
  <h2 class="md-headline text-center">Astrid et Brice Guyart</h2>

  <img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/olympics/image-astrid-brice.jpg" alt="Astrid et Brice Guyart" class="olympics-image md-whiteframe-z2"  style="max-width: 500px; width: 100%;">

  <p class="md-body-2">Astrid et Brice Guyart sont frère et soeur et <strong>fleurettistes*</strong> ! Ils utilisent donc le fleuret à l’escrime. Ils ont commencé à l’âge de 5 ans et se sont même affrontés. Ils ont 2 ans d’écart presque jour pour jour : Brice est né le 15 mars et Astrid le 17 mars. Brice a commenté à la télévision le match d’Astrid aux Jeux de Rio en 2016.</p>

  <dl>
    <dt>Beneylu : Astrid et Brice, avez-vous un souvenir sportif de votre enfance ?</dt>
    <dd><strong>Astrid :</strong> Dans ma ville il y avait 4 écoles et un tournoi de la ville. On faisait de <strong>l’athlétisme*</strong> au stade. Je me souviens de la fierté de porter le maillot de notre école et de la représenter !<br><strong>Brice :</strong> Avec Astrid nous nous sommes affrontés à 12 ans à l’escrime. On a refusé de se serrer la main à la fin ! On s’entraînait, ma soeur était dans un pic de progression et c’était dur de se faire battre par une fille... Aujourd’hui ça va mieux ! En 2012, Astrid m’a battu et je l’ai bien vécu.</dd>
    <dt>Beneylu : Avez-vous un rituel, un porte-bonheur ou une habitude pour les compétitions ?</dt>
    <dd><strong>Astrid :</strong> J’ai un <i>tee-shirt</i> fétiche que je porte sous ma tenue d’escrime. C’est un <i>tee-shirt</i> historique ! Je ne sais pas vraiment si c’est efficace… Quand je gagne je me dis que c’est un peu grâce à lui.<br><strong>Brice :</strong> Quand je perdais, je montrais à l’arbitre que je ne pouvais pas continuer, ce qui me permettait de gagner du temps et de me reconcentrer. J’utilisais la tactique du lacet défait par exemple. C’est un “truc” pour se ressourcer pendant l’épreuve.</dd>
    <dt>Beneylu : Quel est votre secret pour gagner ?</dt>
    <dd><strong>Astrid :</strong> Quand on a envie de faire quelque chose, il faut se lâcher. Même si on nous dit que ce n’est pas possible, il faut foncer. C’est juste un chemin que ces personnes n’ont pas emprunté.<br><strong>Brice :</strong> Se confronter à plus fort que soi à l’entraînement. Savoir se mettre en difficulté pour devenir meilleur. Oser !</dd>
  </dl>

  <ul class="olympics-medals md-body-2">
    <li>2000 : À 19 ans, Brice devient le plus jeune fleurettiste médaillé d’or aux Jeux de Sydney en Australie pour l’épreuve en équipe.</li>
    <li>2016 : Astrid Guyart bat la championne olympique en titre, l’Italienne Elisa Di Francesca (15-10) à La Havane et se qualifie aux Jeux de Rio.</li>
  </ul>
</bns-inset>

<h3 class="md-title text-center">Le défi de Brice et Astrid pour les classes</h3>

<div class="olympics-video-wrapper">
  <div class="olympics-video">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/6C9wamBcV-c?rel=0&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen class="md-whiteframe-z2"></iframe>
  </div>
</div>

<p class="md-body-2"><i>“Pas si simple de faire un bon <strong>commentaire sportif...</strong> Vous voulez essayer ? Oui ? C’est parti ! Nous avons choisi <strong>un extrait chacun</strong> de nos matchs d’escrime. Pas de chance... il n’y a pas de son. À vous de commenter les vidéos pour <strong>nous faire revivre ces grands moments d’escrime</strong>. Nous rendrons visite à la classe qui nous fera le plus vibrer. Le micro est à vous !”</i></p>

<div class="olympics-video-wrapper">
  <div class="olympics-video">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/eXC7hfo4uBg?rel=0&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen class="md-whiteframe-z2"></iframe>
  </div>
</div>

<p class="md-caption text-center">L’extrait d’Astrid : match de tableau de 16 aux JO de rio 2016 contre l'américaine Prescod</p>

<div class="olympics-video-wrapper">
  <div class="olympics-video">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/0KlLvQjcuFo?rel=0&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen class="md-whiteframe-z2"></iframe>
  </div>
</div>

<p class="md-caption text-center">L’extrait de Brice : ma finale des JO d'Athènes 2004 contre l’italien Salvatore Sanzo</p>

<bns-inset ng-if="ctrl.canManage" bns-inset-icon="shield" bns-inset-size="small">
  <div class="md-body-2 text-center">
    Pour relever le défi, envoyez la vidéo, le son ou le texte
du commentaire sportif de votre classe à :<br>
    <strong>lucile@beneylu.com</strong><br><br>
    Bonne chance !
  </div>
</bns-inset>
