<h1 class="md-display-1">Le monde de l’escrime</h1>

<p>L’escrime est une discipline des <strong>Jeux Olympiques</strong>. C’est un sport de combat qui se pratique seul ou en équipe. L’escrime demande de la précision et des réflexes…</p>

<p>L’escrimeur porte un masque, un gant, une veste résistante, un pantalon qui s’arrête aux genoux, des chaussettes hautes et des chaussures légères. Il doit réussir à toucher son adversaire avec son arme, sans être touché. Pour cela, l’escrimeur réalise une attaque, une riposte pour toucher son adversaire ou une parade pour se défendre. Ces actions forment <strong>la phase d’armes</strong>.</p>

<bns-olympics-fencing></bns-olympics-fencing>
