<bns-inset class="bns-primary" bns-inset-icon="false">
  <h2 class="md-headline text-center">Jérémie Azou</h2>

  <img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/olympics/image-jeremie.jpg" alt="Jérémie Azou" class="olympics-image md-whiteframe-z2" style="max-width: 300px;">

  <p class="md-caption text-center">Crédits photo : FFA-Eric Marie</p>

  <p class="md-body-2">Jérémie Azou est un rameur français. Il devient champion olympique en deux de couple poids légers avec <strong>Pierre Houin</strong> aux Jeux Olympiques de Rio en 2016. Jérémie joue du piano et est aussi kiné.</p>

  <dl>
    <dt>Beneylu : Jérémie, as-tu un souvenir sportif à l’école ?</dt>
    <dd>Jérémie : J’ai fait du foot, de la gym, du tennis… Je me rappelle du foot à la récré et heu... d’un tournoi de rugby ! On était entre copains, c’était drôle. On avait passé un super moment et bien rigolé.</dd>
    <dt>Beneylu : As-tu un rituel avant une compétition ?</dt>
    <dd>Jérémie : Non, je n’ai pas de caleçon fétiche, pas de chanson particulière à écouter, rien de récurrent. Avant le départ, je pense aux consignes de mon entraîneur, je me concentre. Si on regarde les autres, on est moins performant. On doit rester concentré jusqu’au bout de la course !</dd>
    <dt>Beneylu : Tu t’entends bien avec Pierre Houin ?</dt>
    <dd>Jérémie : L’association avec mon coéquipier à l’aviron est basée sur les résultats sportifs. Il n’y a pas de copinage. Mais, j’ai de la chance, les deux garçons avec qui j’ai fait les Jeux sont sympas ! On s’entend très bien avec Pierre, même si on n'a pas le même âge. On rigole, on arrive à se dire les choses. Je suis un peu comme son grand-frère, on prend soin l’un de l’autre. L’aventure est plus agréable quand on s’entend bien, cela dépasse le sport. Après les médailles, ce qui reste ce sont les gens.</dd>
    <dt>Beneylu : Peux-tu nous raconter une course ?</dt>
    <dd>Jérémie : Avant la course : on s’assure que tout va bien pour son coéquipier, on anticipe les scénarios de courses, on est déjà dedans. Pendant la course : on ne peut pas vraiment parler, sauf un mot. On a donc <strong>un code élaboré avec l’entraîneur</strong> pour communiquer Pierre et moi. C’est top secret. Après la course, c’est le moment du <strong><i>débriefing</i>*</strong>. On exprime notre ressenti, on parle déjà de la prochaine course s’il y en a une de prévue.</dd>
  </dl>

  <ul class="olympics-medals md-body-2">
    <li>Total des médailles : 54 !</li>
    <li>2016 : Je deviens champion olympique en deux de couple poids légers avec Pierre Houin aux Jeux Olympiques de Rio.</li>
  </ul>
</bns-inset>

<h3 class="md-title text-center">Le défi de Jérémie pour les classes</h3>

<div class="olympics-video-wrapper">
  <div class="olympics-video">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/sOD56IKDnLk?rel=0&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen class="md-whiteframe-z2"></iframe>
  </div>
</div>

<p class="md-body-2"><i>“Mon coéquipier à l'aviron c'est Pierre Houin. Je me rappelle encore de notre course folle pour attraper la médaille d'or aux Jeux de Rio l'été dernier. Imaginez que vous êtes Pierre. Nous allons vivre l'un des moments les plus forts de notre carrière... Racontez-moi cette extraordinaire journée aux Jeux Olympiques de Rio : avant la course, la course et la victoire. À quoi on pense, ce qu'on se dit, ce qu'on fait... Toute la classe doit se mettre à la place de Pierre et sauter à l'eau (c'est juste une façon de parler). Bonne chance !”</i></p>

<bns-inset ng-if="ctrl.canManage" bns-inset-icon="shield" bns-inset-size="small">
  <div class="md-body-2 text-center">
    Pour relever le défi, envoyez le texte
  de votre classe à :<br>
    <strong>lucile@beneylu.com</strong><br><br>
    Bonne chance !
  </div>
</bns-inset>
