<h1 class="md-display-1">Le monde de l’aviron</h1>

<p>L’aviron est un <strong>sport nautique*</strong> et une discipline olympique depuis 1896 ! <strong>Le rameur</strong> doit propulser son bateau à l’aide de <strong>ses avirons</strong> (ses rames). C’est un sport de vitesse et de glisse. Le rameur est assis et <strong>tourne le dos</strong> au sens d'avancement du bateau.</p>

<h3 class="md-headline">Prends le rythme de l’aviron</h3>

<p>Le geste du rameur est <strong>très technique</strong>. Il tend les jambes et ramène les bras vers le tronc (c’est <strong>la propulsion</strong>) puis, il tend les bras et et replie les jambes (c’est <strong>le retour</strong>). Le rameur pose ses rames dans l’eau <strong>avec précision</strong> avant la propulsion. Il les relève au moment du retour.</p>

<bns-olympics-rowing></bns-olympics-rowing>
