<bns-inset class="bns-primary" bns-inset-icon="false">
  <h2 class="md-headline text-center">Michaël Jérémiasz</h2>

  <img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/olympics/image-mickael.jpg" alt="Michaël Jérémiasz" class="olympics-image md-whiteframe-z2" style="max-width: 300px;">

  <p class="md-body-2">Michaël Jérémiasz est une grande figure du <strong>tennis handisport</strong> et l’ancien numéro 1 mondial ! Il a remporté <strong>4 médailles</strong> lors des Jeux Paralympiques, dont une en or aux Jeux de Pékin en 2008 pour le double messieurs avec Stéphane Houdet.</p>
  <p class="md-body-2">Le savais-tu ? Michaël a fondé une association pour accompagner les personnes handicapées et leur redonner confiance... en pratiquant des activités à sensations fortes !</p>

  <dl>
    <dt>Beneylu : Michaël, as-tu un rituel avant un match de tennis ?</dt>
    <dd>Michaël : Aller faire pipi à la dernière seconde !</dd>
    <dt>Beneylu : Raconte-nous une histoire que tu as vécue au tennis.</dt>
    <dd>Michaël : Je jouais au tennis en Afrique du sud, un petit singe déboule et vole ma banane. Il la mange et jette la peau vers moi !<br>Un jour, j’ai été le <strong>porte-drapeau*</strong> de la Délégation française paralympique à Rio aussi ;-)</dd>
    <dt>Beneylu : Quel est le secret de tes succès au tennis ?</dt>
    <dd>Michaël : Il me montre du doigt en ce moment : mon frère ! C’est mon porte-bonheur ! Le soutien de mes proches compte énormément pour moi. Ma famille c’est le secret de ma performance, mais chut… !</dd>
  </dl>

  <ul class="olympics-medals md-body-2">
    <li>2004 : Je suis médaillé d'argent en double messieurs avec Lahcen Majdi à Athènes.</li>
    <li>2008 : Je suis médaillé d'or en double messieurs avec Stéphane Houdet à Pékin.</li>
    <li>2016 : Je suis le porte-drapeau français à Rio pour la cérémonie d’ouverture des Jeux Paralympiques 2016.</li>
  </ul>
</bns-inset>

<h3 class="md-title text-center">Le défi de Michaël pour les classes</h3>

<div class="olympics-video-wrapper">
  <div class="olympics-video">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/A3vcJ9ERvCY?rel=0&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen class="md-whiteframe-z2"></iframe>
  </div>
</div>

<p class="md-body-2"><i>“Fabriquez <strong>une amulette</strong> et je la donnerai à quelqu’un qui en a vraiment besoin. Une amulette est un objet qu'on porte sur soi (dans sa poche ou autour du cou) et qui <strong>porte chance</strong>. Votre amulette aura un nom. Elle prendra la forme de votre choix et vous devrez imaginer <strong>son mode d'emploi</strong>. Si c'est rigolo, je pense que ça fonctionnera encore mieux ! Toute votre classe mettra <strong>son énergie, sa bonne humeur</strong> et quelque chose qui lui ressemble dedans. Je rendrai visite à la classe qui inventera l'amulette <strong>la plus efficace</strong>. À vous de jouer !”</i></p>

<bns-inset ng-if="ctrl.canManage" bns-inset-icon="shield" bns-inset-size="small">
  <div class="md-body-2 text-center">
    Pour relever le défi, envoyez la photo de l’amulette et son mode d’emploi à :<br>
    <strong>lucile@beneylu.com</strong><br><br>
    Bonne chance !
  </div>
</bns-inset>
