<h1 class="md-display-1">Le monde du tennis en fauteuil</h1>

<p><strong>Le tennis en fauteuil roulant</strong> est une discipline des Jeux Paralympiques. Il se joue comme le tennis, à une différence près : le joueur a le droit de <strong>laisser rebondir la balle 2 fois</strong> avant de la frapper.</p>

<h3 class="md-headline">Apprends à compter les points au tennis</h3>

<p>Au tennis, un échange de balles est terminé quand la balle sort du terrain ou atterrit dans le filet. <strong>Le joueur qui n’a pas mis la balle dehors ou dans le filet</strong> remporte le point !</p>

<p>Si tu gagnes 1 point tu as 15.<br>Si tu gagnes 2 points : 30.<br>Si tu gagnes 3 points : 40.<br>Si tu gagnes 4 points ? Tu gagnes le jeu !</p>

<p><strong>Retiens : 15, 30, 40, jeu !</strong></p>

<p>Si tu gagnes 2 points et ton adversaire un seul, tu diras : « 30-15 ».<br>Si ton adversaire gagne 3 points et toi un seul, tu diras donc : « 15-40 ».</p>

<p>Mais, attention ! Si ton adversaire marque des points, c’est le joueur qui mène en premier <strong>avec 2 points d’avance</strong> qui gagne.</p>

<bns-olympics-tennis></bns-olympics-tennis>
