{% trans_default_domain "GROUP" %}
<div class="modal-footer">
	<div class="content-btn-footer">
        <a href="#" id="new-classroom-label-submit" class="btn bns-success validate-medium btn-24 medium assignment-submit" data-form-type="newClassroom" data-form-type='newClassroom'>
            <span class="icons-24 validate-icon"></span><strong>{{ 'LINK_VALIDATE'|trans |desc('Valider') }}</strong>
        </a>
	</div>
</div>