{% trans_default_domain "GROUP" %}
<div class="loader loader-sb"></div>
<div class="modal-body">
	<div class="content-modal-body">
        {{ 'SURE_TO_REACTIVATE_ACCOUNT_USER'|trans({'%beneylu_brand_name%': parameter('beneylu_brand_name'), '%user%': user.getFullName()|escape}) |desc('
        <h2>Êtes-vous sûr de vouloir réactiver le compte de "%user%" ?</h2>
		<h3>
			Cet utilisateur pourra à nouveau se connecter à %beneylu_brand_name%.
		</h3>') |raw}}

	</div>
</div>
<div class="beneylu-jim"></div>
