{% trans_default_domain "MESSAGING" %}
{% set title = type == 'EXTERNAL' ? "TITLE_MODERATE_OUTWARD"|trans : type == "GROUP" ? "TITLE_MODERATE_IN_CLASS"|trans : "" %}

    <a data-type="{{ type }}" data-group-id="{{ group.id }}" class=" switchable moderation-action-button {% if status[type] == true %}off{% endif %}">
        {{title}}
        {% include 'BNSAppMainBundle::popover.html.twig'
            with {
                'element' : 'span',
                'class'   : 'btn-switch',
                'title'   : "TITLE_MODERATE_MESSAGING"| trans,
                'content' : "DESCRIPTION_ENABLED_DISABLED_MODERATION"| trans,
                'module'  : 'messaging',
                'size'    : 'large'
            }
        %}
    </a>
</li>