{% trans_default_domain "MESSAGING" %}
{% for message in messages %}
    {% include 'BNSAppMessagingBundle:Back/Light:block_message.html.twig' with {"message": message} %}
{% else %}

    <div class="no-item">
        <div class="bnj-not-found"></div>
        <p>
            {% if type == "IN_MODERATION" %}
        <p class="message-status">{{ 'NO_MESSAGE_IN_MODERATION'|trans }}</p>

        {% elseif type == "ACCEPTED" %}
            <p class="message-status">{{ 'NO_MESSAGE_VALIDATE'|trans }}</p>

        {% elseif type == "REJECTED" %}
            <p class="message-status">{{ 'NO_MESSAGE_IN_SUSPENDED'|trans }}</p>

        {% endif %}
        </p>
        <div class="clearfix"></div>
    </div>


{% endfor %}

{% include 'BNSAppMessagingBundle:Back/Light:block_paginate.html.twig' with {"limit": limit,'total': nbMessages,'currentPage':page} %}