{#<div id="section-article-statut">
	{% for group in groups %}
		{% include 'BNSAppMessagingBundle:Back/Light:block_moderation_action.html.twig' with {'status' : status[group.id], 'group' : group } %}
	{% endfor %}
</div>#}
<div class="content-title">
	{% for group in groups %}
		{% include 'BNSAppMessagingBundle:Back/Light:block_moderation_action.html.twig' with {'status' : status[group.id], 'group' : group } %}
	{% endfor %}
</div>