<li id="list_{{ subject.getId() }}">
<div>
	{% if isEditionMode %}<span class="list-grip"></span>{% endif %}
	<div>{{ subject.getName() }}</div>
	<span class="select {% if subject.getId() in app.session.get('subjects-session') %}checked{% endif %}"></span>
</div>