{% trans_default_domain "HOMEWORK" %}
<div class="modal-footer">
    <div class="content-btn-footer">
        <input type="hidden" value="{{id}}" class="homework-id" />
        <a href="#" class="btn btn-danger valid-delete" data-dismiss="modal"><span class="icons-delete-modal-white"></span>
            {{ 'LINK_DELETE_MESSAGE'|trans |desc('<strong>Supprimer</strong><br/>le message') |raw }}
        </a>
        <a href="#" class="btn" data-dismiss="modal"><span class="icons-delete-modal"></span>
            {{ 'LINK_CANCEl_DELETE'|trans |desc('<strong>Annuler</strong><br/>la suppression') |raw }}
        </a>
    </div>
</div>