{% if parameter('graphic_chart') != false %}
    {% set chartValue = parameter('graphic_chart') %}
{% endif %}
<a href="{{ path(route) }}" class="module-popover-left notif {% if count == 0 %}empty{% endif %}"
    rel="popover"
	data-title="<div class='dock-popover'><img src='{{ asset('/medias/images/icons/modules/notification/big.png' ) }}' alt='Mes Notifications' />Mes Notifications</div>"
	data-content="<div class='dock-popover'>Voir les dernières activités sur {{ parameter('graphic_chart') != false ? chartValue.label : 'Beneylu School' }}</div>">
	{% if count > 0 %}
		{{ count }}
	{% endif %}
</a>