{% trans_default_domain "HOMEWORK" %}
<div class="modal-footer">
	<div class="content-btn-footer">
		<a href="#" class="btn bns-success validate-medium btn-24 medium submit-create-category" data-dismiss="modal">
			<span class="icons-24 validate-icon"></span>
			<strong>{{ 'INPUT_ADD'|trans }}</strong>
		</a>
		<a href="#" class="btn bns-success validate-medium btn-24 medium submit-create-category">
			<span class="icons-24 validate-icon"></span>
			<strong>{{ 'ADD_AND_CONTINUE'|trans }}</strong>
		</a>
		<a href="#" class="btn bns-notice btn-24 medium" data-dismiss="modal">
			<span class="icons-24 back-icon"></span>
			<strong>{{ 'LINK_CANCEL'|trans }}</strong>
		</a>
	</div>
</div>