{% trans_default_domain "HOMEWORK" %}
<div class="modal-footer">
	<div class="content-btn-footer">
		<a href="{{ path('BNSAppHomeworkBundle_back_homework_delete', { 'slug' : slug }) }}" class="btn bns-danger btn-24 medium-return delete-process">
			<span class="icons-24 delete-icon"></span>
            {{ 'LINK_DELETE_WORK'|trans |desc('<strong>Supprimer</strong><br />le travail') |raw}}
		</a>
		<a href="#" class="btn bns-notice btn-24 medium" data-dismiss="modal">
			<span class="icons-24 back-icon"></span>
			<strong>{% trans %}LINK_CANCEL{% endtrans %}</strong>
		</a>
	</div>
</div>
