{% trans_default_domain "HOMEWORK" %}
<div class="modal-body">
	<div class="content-modal-body">
        {{ 'TITLE_SURE_TO_DELETE_LOSE_ALL_OCCURENCE'|trans |desc(
            '<h2>Êtes-vous sûr de vouloir supprimer le travail ?</h2>
            <h3>Vous perdrez la totalité des occurences de ce travail.<br />A noter que les documents joints/insérés ne seront pas supprimés.</h3>'
        ) |raw}}
	</div>
</div>
<div class="beneylu-jim"></div>