<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:jms="urn:jms:translation" version="1.2">
  <file date="2016-09-29T22:54:57Z" source-language="en" target-language="fr" datatype="plaintext" original="not.available">
    <header>
      <tool tool-id="JMSTranslationBundle" tool-name="JMSTranslationBundle" tool-version="1.1.0-DEV"/>
      <note>The source node in most cases contains the sample message as written by the developer. If it looks like a dot-delimitted string such as "form.label.firstname", then the developer has not provided a default message.</note>
    </header>
    <body>
      <trans-unit id="092f25e27f03e48d7dcdfc68550067a7fa47b1a2" resname="LABEL_SPOT_FOLDER">
        <source>LABEL_SPOT_FOLDER</source>
        <target>Ressources académiques</target>
      </trans-unit>
    </body>
  </file>
</xliff>
