{% trans_default_domain "GROUP" %}
<div class="modal-footer">
	<div class="create-buttons-container">
		<button class="btn btn-create-group">{{ 'BUTTON_CREATE_GROUP'|trans |desc('Créer le groupe') }}</button>
		<a href="#" class="btn btn-cancel" data-dismiss="modal">{{ 'LINK_CANCEL'|trans |desc('Annuler') }}</a>
	</div>
</div>