{% trans_default_domain "GROUP" %}
<div class="modal-footer">
	<div class="create-buttons-container">
		<button id="rule-add-submit" class="btn btn-create-rule">{{ 'BUTTON_CREATE_RULE'|trans |desc('Créer la règle') }}</button>
		<a href="#" class="btn btn-cancel" data-dismiss="modal">{{ 'LINK_CANCEL'|trans |desc('Annuler') }}</a>
	</div>
</div>