{% trans_default_domain "GROUP" %}
<div class="modal-footer">
	<div class="create-buttons-container">
		<button class="btn btn-create-user">{{ 'LINK_CREATE_ACCOUNT'|trans |desc('Créer le compte') }} <span class="role-label"></span></button>
		<button class="btn btn-create-user-more">{{ 'BUTTON_CREATE_AND_CONTINUE'|trans |desc('Créer et continuer') }}</button>
		<a href="#" class="btn btn-cancel" data-dismiss="modal">{{ 'LINK_CANCEL'|trans |desc('Annuler') }}</a>
	</div>
</div>