{% trans_default_domain "PORTAL" %}
<div class="loader loader-sb"></div>
<div class="modal-body">
	<div class="content-modal-body">
        {{ 'TITLE_LOSE_MODIFICATION_TO_SAVE_CLICK_TOP_RIGHT'|trans |desc('		<h2>Vous allez perdre vos modifications</h2>
		<h3>
			Pour les sauvegarder veuillez cliquer sur "Enregistrer" en haut à droite.
		</h3>
')|raw }}
	</div>
</div>
<div class="beneylu-jim"></div>