{% trans_default_domain "MINISITE" %}
{% if null != page.getMiniSitePageText() %}
<div class="content-article">
	<h1>
		{% if isPreview %}
			{{ page.getMiniSitePageText().getDraftTitle() }}
		{% else %}
			{% if page.getMiniSitePageText().getPublishedTitle() == null %}
        {% trans %}TITLE_OUR_FUTUR_PAGE{% endtrans %}
			{% else %}
				{{ page.getMiniSitePageText().getPublishedTitle() }}
			{% endif %}
		{% endif %}
	</h1>
	<p class="article">
		{% if isPreview %}
			{% autoescape false %}
				{{ parse_public_resources(page.getMiniSitePageText().getDraftContent()|purify, false) }}
			{% endautoescape %}
		{% else %}
			{% if page.getMiniSitePageText().getPublishedContent() == null %}
        {% trans %}WILL_DISCOVER_FUTUR_PAGE_HERE{% endtrans %}
			{% else %}
				{% autoescape false %}
					{{ parse_public_resources(page.getMiniSitePageText().getPublishedContent()|purify, false) }}
				{% endautoescape %}
			{% endif %}
		{% endif %}
	</p>
</div>

<br clear="all" />

{% include 'BNSAppMediaLibraryBundle:Front:joined.html.twig' with {'medias': page.getMiniSitePageText().getResourceAttachments,"editable": false, 'objectType': 'MiniSitePageText', 'objectId': page.miniSitePageText.pageId} %}

{% else %}
<div class="content-article">
  <h1>{% trans %}TITLE_CREATE_YOUR_PAGE{% endtrans %}</h1>
	<p class="article">
    {% trans %}WELCOME_TO_YOUR_MINISITE{% endtrans %}
	</p>
</div>
{% endif %}
