{% extends '::base_manager.html.twig' %}

{% block title %}Cahier de texte - Gestion{% endblock %}

{% block css %}
	{{ parent() }}

	{# Appel CSS du package layout manager #}
    {% include "BNSAppMainBundle:Manager:layoutStyle.html.twig" %}
	<link href="{{ asset('/medias/css/homework/manager.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('/medias/css/commons/bns-buttons.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('/medias/css/ui-twitter-theme/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
	<div class="homework-admin"></div>
	{% block header %}{% endblock %}
	<div class="container-fluid container">
		<div class="row-fluid container-manager">
			{% block surround_form_start %}{% endblock surround_form_start %}
			<div class="container-sidebar">
				{% block sidebar %}Add your sidebar here!{% endblock %}
			</div>
			<div class="span9 container-content">
				<div id="mainpanel" class="content-homework">
					{% block content %}Add your content here!{% endblock %}
				</div>
			</div>
			{% block surround_form_end %}{% endblock surround_form_end %}
			<div class="container-manager-bottom">
				<div class="content-manager-bottom"></div>
			</div>
		</div>
	</div>
{% endblock %}

{% block dock_bar %}
	{% render "BNSAppMainBundle:DockBar:index" with {'module_unique_name' : "HOMEWORK" , 'is_in_front' : false } %}
{% endblock %}