<img src="{{ avatar(app.user, 'thumbnail') }}" class="avatar-thumbnail-size" alt="avatar" />
<div class="name">
    <div class="first_name">{{ app.user.firstName }}</div>
    <div class="complete_name"> {{ app.user.fullName }}</div>
</div>