<div class="md-padding">
  <h2>{{ 'BUILDERS.TITLE_EXPERIENCE_SHARE' | translate}}</h2>
  <p translate>BUILDERS.PRESENTATION_EXPERIENCE_SHARE</p>
</div>

<div class="layout-row md-padding" ng-if="ctrl.book.answers[ctrl.step]" ng-hide="ctrl.editing">
  <div class="flex">
    <p translate>BUILDERS.LABEL_WHAT_WE_THINK</p>
    <blockquote ng-bind-html="(ctrl.book.answers[ctrl.step].think||'-')|nl2br"></blockquote>
    <p translate>BUILDERS.LABEL_DID_IT_WORK</p>
    <blockquote ng-bind-html="(ctrl.book.answers[ctrl.step].work||'-')|nl2br"></blockquote>
    <p translate>BUILDERS.LABEL_TELL_US</p>
    <blockquote ng-bind-html="(ctrl.book.answers[ctrl.step].tell||'-')|nl2br"></blockquote>
  </div>
  <md-button class="md-icon-button flex flex-none" ng-click="ctrl.setupEdit()">
    <md-icon>edit</md-icon>
  </md-button>
</div>

<form ng-show="!ctrl.book.answers[ctrl.step] || ctrl.editing" ng-submit="ctrl.submitAnswer(ctrl.step)" class="md-padding">
  <div class="layout-row">
    <div class="flex">
      <md-input-container>
        <label>{{'BUILDERS.LABEL_WHAT_WE_THINK' |translate}}</label>
        <textarea ng-model="ctrl.answers[ctrl.step].think" rows="2"></textarea>
      </md-input-container>
      <md-input-container>
        <label>{{'BUILDERS.LABEL_DID_IT_WORK' |translate}}</label>
        <textarea ng-model="ctrl.answers[ctrl.step].work" rows="2"></textarea>
      </md-input-container>
      <md-input-container>
        <label>{{'BUILDERS.LABEL_TELL_US' |translate}}</label>
        <textarea ng-model="ctrl.answers[ctrl.step].tell" rows="4"></textarea>
      </md-input-container>
    </div>
    <md-button type="button" ng-if="ctrl.editing" class="md-icon-button flex flex-none" ng-click="ctrl.cancelEdit()">
      <md-icon>undo</md-icon>
    </md-button>
  </div>

  <div class="text-center">
    <md-button type="submit" ng-disabled="ctrl.busy" class="md-primary md-raised">
      <span translate>BUILDERS.BUTTON_SAVE_ANSWER</span>
    </md-button>
  </div>
</form>

<div class="md-padding">
  <p translate>BUILDERS.DRAW_IT</p>
</div>

<div bns-builders-step-next></div>

<bns-builders-step-bubble class="bubble-carla" label-number="3"></bns-builders-step-bubble>
<bns-builders-step-bubble class="bubble-jim" label-number="1"></bns-builders-step-bubble>
<bns-builders-step-bubble class="bubble-brabrabra" label-number="2"></bns-builders-step-bubble>
