{% extends '::base_manager.html.twig' %}

{% block title %}
	Classe - Gestion
{% endblock %}

{% block css %}
    {{ parent() }}

	{# Appel CSS du package layout manager #}
    {% include "BNSAppMainBundle:Manager:layoutStyle.html.twig" %}
	<link href="{{ asset('/medias/css/classroom/manager.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/medias/js/classroom/classroom.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="office blur"></div>
	{% block header %}{% endblock %}
    <div class="container-fluid container">
        <div class="row-fluid container-manager">
            <div class="container-sidebar">
				{% block sidebar %}Add your sidebar here!{% endblock %}
				<div class="sidebar-shadow"></div>
            </div>
            <div class="span9 container-content no-margin">
                {% block content %}Add your content here!{% endblock %}
            </div>
			<div class="container-manager-bottom">
				<div class="content-manager-bottom"></div>
			</div>
        </div>
    </div>
{% endblock body %}
	
{% block dock_bar %}
	{% render 'BNSAppMainBundle:DockBar:index' with {'module_unique_name' : 'CLASSROOM' , 'is_in_front' : false } %}
{% endblock %}