{% extends '::base.html.twig' %}

{% block title %}
	Carnet de liaison
{% endblock %}

{% block css %}
	{{ parent() }}

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css">
	<link href="{{ asset('/medias/css/liaisonbook/front.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
        
{% block javascripts %}
    {{ parent() }}
	
    <script type="text/javascript" src="/medias/js/bootstrap/bootstrap-alert.js"></script>
{% endblock %} 
        
{% block body %}
        {% include 'BNSAppMainBundle::notice.html.twig' %}
        <div class="book-binding"></div>
        <div class="container-fluid container">
            <div class="row-fluid ">
                <div class="span1">&nbsp;</div>
                <div class="border-container-bookbinding">
                    <div class="container-bookbinding">
                        <div class="span8 no-margin">
                            {% block content %}

                            {% endblock %}
                        </div>
                        <div class="span2 no-margin">
                            {% block archives %}
                            {% render 'BNSAppLiaisonBookBundle:Common:archives' with { 'newsDate' : newsDate, 'admin' : false } %}
                            {% endblock %}
                        </div>
                        <div class="span1 no-margin">
                            <div class="container-btn-tab liaisonbook-messages-min-height">
                                <div class="effect-tab"></div>
                                <div class="btn-tab"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %} 

{% block dock_bar %}
	{% render "BNSAppMainBundle:DockBar:index" with {'module_unique_name' : "LIAISONBOOK" , 'is_in_front' : true } %}
{% endblock %}