{% trans_default_domain "MESSAGING" %}
<div class="container-messaging">
    <div class="container container-fluid">
      {% trans_default_domain "MESSAGING" %}
        <div class="row-fluid">
            <div class="span1"></div>
            <div class="span11">
                <div class="container-header-messaging">
                    <div class="content-header-messaging">
                        <div class="border-messaging">
                            <button class="btn write-new-msg btn-messaging write"><span class="background-button"><span class="icons-new-message"></span>{% trans %}BUTTON_WRITE_NEW_MESSAGE{% endtrans %}</button>
                            <input type="text" id="inputSearch" class="input-xlarge" placeholder="{{"PLACEHOLDER_ENTER_SEARCH"|trans}}">
                            <button class="btn write-new-msg btn-messaging search"><span class="background-button search">{% trans %}BUTTON_SEARCH{% endtrans %}</span></button>
                            <button class="btn write-new-msg btn-messaging inbox"><span class="background-button prev"><span class="icons-new-message"></span>{{ 'BUTTON_BACK_TO_INBOX'|trans|desc('Revenir à la <br>boite de reception') }}</span></button>
                            <button class="btn write-new-msg btn-messaging delete"><span class="background-button delete"><span class="icons-delete-message"></span>{% trans %}BUTTON_DELETE_MESSAGE{% endtrans %}</span></button>
                            <button class="btn write-new-msg btn-messaging answer"><span class="background-button answer"><span class="icons-new-message"></span>{% trans %}BUTTON_ANSWER{% endtrans %}</span></button>
                            <button class="btn write-new-msg btn-messaging send"><span class="background-button send"><span class="icons-new-message"></span>{% trans %}BUTTON_SEND{% endtrans %}</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="big-post"></div>
                <div class="small-bar"></div>
            </div>
        </div>
