<ol>
    {% for subfolder in folder.childs %}
        <a href="#" id="{{ subfolder.functionalName }}" class="mailFolder no-actif">{{ subfolder.name }}</a>
        {% if subfolder.childs != null %}
            {{ render(controller('BNSAppMessagingBundle:Front:subfolders', { 'parent' : subfolder})) }}
        {% endif %}
    {% endfor %}
</ol>