{% trans_default_domain "SCHOOL" %}
<div class="modal-body">
    <div class="content-modal-body large">
        <div class="loader loader-sb show">
            <div class="message">
              {% trans %}LOADING_PLEASE_WAIT{% endtrans %}
            </div>
        </div>
        <div class="form-content"></div>
    </div>
</div>
