{% trans_default_domain "SCHOOL" %}
<div class="modal-footer">
	<div class="content-btn-footer">
		<a id="delete-users-confirm" href="#" class="btn bns-danger btn-24 medium-return">
			<span class="icons-24 delete-icon"></span>
			{% trans %}LINK_DELETE_SCHOOL_USER{% endtrans %}
		</a>
		<a href="#" class="btn bns-notice btn-24 medium" data-dismiss="modal">
			<span class="icons-24 back-icon"></span>
			<strong>{% trans %}LINK_CANCEL{% endtrans %}</strong>
		</a>
	</div>
</div>
