{% trans_default_domain "SCHOOL" %}
<div class="modal-body">
	<div class="content-modal-body">
		<h2>{% trans %}CONFIRM_DELETING_USERS_SELECTION{% endtrans %}</h2>
		<h3>
      {% trans %}WARNING_DELETING_USERS_SELECTION{% endtrans %}
		</h3>
	</div>
</div>
<div class="beneylu-jim"></div>
