{% trans_default_domain "SCHOOL" %}
<div id="add-classroom-modal" class="modal-body">
    <div class="loader loader-sb hide">
        <div class="message ">
            {% trans %}LOADING_PLEASE_WAIT{% endtrans %}
        </div>
    </div>
    <div class="content-modal-body">
        <h2>{% trans %}ABOUT_TO_REMOVE_CLASSROOM{% endtrans %}</h2>
        <p>{% trans %}DESCRIPTION_REMOVE_CLASSROOM{% endtrans %}</p>
        <h3>
          {% trans %}IRREVERSIBLE_OPERATION{% endtrans %}
        </h3>
    </div>
</div>
<div class="beneylu-jim"></div>
