{% trans_default_domain "SCHOOL" %}
<div class="modal-footer">
  <div class="content-btn-footer">
    <a id="bouton_submit" href="{{ path('classroom_manager_generate_school_card') }}" class="btn bns-success btn-24 medium-return generate-button">
      <span class="icons-24 generate-icon"></span>
      {{ 'LINK_GENERATE_NEW_NOTE'|trans |desc('<strong>Générer une fiche</strong><br /> pour les enseignants') |raw}}
    </a>
    <a href="#" class="btn bns-notice btn-24 medium" data-dismiss="modal">
      <span class="icons-24 back-icon"></span>
      <strong>{% trans %}LINK_CANCEL{% endtrans %}</strong>
    </a>
  </div>
</div>
