{% trans_default_domain "SCHOOL" %}
<div class="modal-footer">
  <div class="content-btn-footer">
    <a id="bouton_submit" href="{{ path('back_classrooms_users_generate_teacher_pwd', {'userSlug': user.getSlug() }) }}" class="btn bns-success btn-24 medium-return generate-button">
      <span class="icons-24 generate-icon"></span>
      {{ 'BUTTON_GENERATE_NEW_CARD'|trans |raw}}
    </a>
    <a href="#" class="btn bns-notice btn-24 medium" data-dismiss="modal">
      <span class="icons-24 back-icon"></span>
      <strong>{% trans %}LINK_CANCEL{% endtrans %}</strong>
    </a>
  </div>
</div>
