{% trans_default_domain "SCHOOL" %}
<div class="modal-footer">
    <div class="content-btn-footer">
        <a href="#" class="btn bns-success validate-medium btn-24 medium create-group-btn invite-teacher-submit">
            <span class="icons-24 validate-icon"></span>
          <strong>{% trans %}LINK_INVITE{% endtrans %}</strong>
        </a>
        <a href="#" class="btn bns-success validate-medium btn-24 medium create-group-btn invite-teacher-submit continue">
            <span class="icons-24 validate-icon"></span>
          <strong>{% trans %}LINK_INVITE_CONTINUE{% endtrans %}</strong>
        </a>
        <a href="#" class="btn bns-notice btn-24 medium" data-dismiss="modal">
            <span class="icons-24 back-icon"></span>
          <strong>{% trans %}LINK_CANCEL{% endtrans %}</strong>
        </a>
    </div>
</div>
