{% trans_default_domain "SCHOOL" %}
<div class="modal-footer">
    <div class="content-btn-footer">
        <a href="#" id="signal-classroom-submit" class="btn bns-danger validate-medium btn-24 medium">
            <span class="icons-24 preview-icon"></span>
          {% trans %}LINK_NOTIFY{% endtrans %}
        </a>
        <a href="#"  class="btn bns-notice btn-24 medium" data-dismiss="modal">
            <span class="icons-24 back-icon"></span>
          {% trans %}LINK_CANCEL{% endtrans %}
        </a>
    </div>
</div>
