{% trans_default_domain "SCHOOL" %}
<div class="modal-footer">
    <div class="content-btn-footer">
        <a href="#" class="btn bns-success validate-medium btn-24 medium">
            <span class="icons-24 validate-icon"></span>
          {% trans %}BUTTON_CONFIRM{% endtrans %}
        </a>
        <a href="#" class="btn bns-notice btn-24 medium" data-dismiss="modal">
            <span class="icons-24 back-icon"></span>
          {% trans %}LINK_CANCEL{% endtrans %}
        </a>
    </div>
</div>
