{% trans_default_domain "HOMEWORK" %}
{% if homeworks_sorted is not empty %}
    {% for due_date, homeworkdues in homeworks_sorted %}
        <div class="homeworkdue">
        <div class="next-week">
        <h2>{{ due_date | localizeddate('full', 'none') | capitalize }}</h2>
        </div>
        <div class="clearfix"></div>                                
        {% for homeworkdue in homeworkdues %}
            {% include 'BNSAppHomeworkBundle:Front:subject.html.twig' with {'homeworkdue': homeworkdue, 'preferences': preferences, 'admin': admin} %}
        {% endfor %}
        </div>
    {% endfor %}
{% else %}
    <div class="homeworkdue">
        <p class="no-works-today">{% trans %}NO_OLD_WORK{% endtrans %}</p>
    </div>
{% endif %}

{% if not pager.isLastPage %}
<div class="homeworknav"><a href="{{ path('BNSAppHomeworkBundle_front_history_page', { 'page': pager.nextPage }) }}">{% trans %}LINK_LAST_WORKS{% endtrans %}</a></div>
{% endif %}