{% trans_default_domain "HOMEWORK" %}
{% extends '::base.html.twig' %}

{% set app_unique_name = 'HOMEWORK' %}
{% set app_mode = 'front' %}

{% block title %}{% trans %}TITLE_HOMEWORK{% endtrans %}{% endblock %}

{% block css %}
	{{ parent() }}
	<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
	<link href="{{ asset('/medias/css/homework/front.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="homework"> </div>
        <div class="container-fluid container navbar-compatible-container">
        {% block homework_body %}{% endblock %}
        </div>
{% endblock %}
