<p class="intro">{{ classroom.getLabel() }} - {% for parent in classroom.getParents() %}{% if parent.getType() == 'SCHOOL' %}{{ parent.getLabel() }} - {{ parent.getAttribute('CITY') }}{% endif %} {% endfor %}</p>
