{% trans_default_domain 'PROFILE' %}
{# Description #}
<div class="sidebar-element" flex>
  <h2 class="heading">{% trans %}TITLE_MORE_ABOUT_ME{% endtrans %} </h2>
  {% if user.getProfile().getDescription() != null or false %}
    <p class="md-body-1">{{ user.getProfile().getDescription()|trans|nl2br }}</p>
  {% else %}
    <p class="md-body-1">
      {% if user.getId() == app.user.id and has_right('PROFILE_ACCESS_BACK') %}
        {{ 'NO_PRESENTATION_LINK_TO_DO_IT' |trans({
          '%linkStart%': '<a href="' ~ path('BNSAppProfileBundle_back') ~ '">',
          '%linkEnd%': '</a>'
        }) |desc('Je n\'ai pas encore fait ma présentation, je peux le faire en cliquant sur %linkStart% ce lien%linkEnd%.') |raw }}
      {% else %}
        {% trans %}NO_TIME_FOR_PRESENTATION{% endtrans %}

      {% endif %}
    </p>
  {% endif %}
</div>
{# Les items J'aime/Je n'aime pas #}
<div class="sidebar-element">
  <div class="like">
    <div class="profile-sidebar-title">
      <img src="{{ asset('/medias/images/profile/like.png') }}" alt="" />
      <h2 class="heading">{% trans %}TITLE_I_LIKE{% endtrans %}</h2>
    </div>
    <ul class="md-body-2">
      <li class="no-content hide">
        <p><i>{% trans %}NO_WRITE_WHAT_I_LIKE_YET{% endtrans %}</i></p>
      </li>
      {% for preference in user.getProfile().getProfilePreferences() %}
        {% if preference.isLike() %}
          {% include 'BNSAppProfileBundle:Preferences:row_preference_item.html.twig' with {'preference': preference, 'editable': false} %}
        {% endif %}
      {% endfor %}
      <script type="text/javascript">
        showNoItemLabel('like');
      </script>
    </ul>
  </div>
  <div class="dislike" flex="100">
    <div class="profile-sidebar-title">
      <img src="{{ asset('/medias/images/profile/dislike.png') }}" alt="" />
      <h2 class="heading">{% trans %}TITLE_I_DONT_LIKE{% endtrans %}</h2>
    </div>
    <ul>
      <li class="no-content hide">
        <p><i>{% trans %}NO_WRITE_WHAT_I_DOESNT_LIKE_YET{% endtrans %}</i></p>
      </li>
      {% for preference in user.getProfile().getProfilePreferences() %}
        {% if (preference.isLike() == false) %}
          {% include 'BNSAppProfileBundle:Preferences:row_preference_item.html.twig' with {'preference': preference, 'editable': false} %}
        {% endif %}
      {% endfor %}
      <script type="text/javascript">
        showNoItemLabel('dislike');
      </script>
    </ul>
  </div>
</div>
