<div container>
  <md-button class="md-fab md-fab-top-left" ui-sref="app.twoDegrees.map">
    <md-icon>close</md-icon>
  </md-button>
</div>

<md-content class="flex layout-row md-whiteframe-z2 main-container flex pixelized two-degrees-heroes-container">
  <div class="layout-gt-md-row layout-align-gt-md-center-end two-degrees-heroes">
    <h1 class="heading md-display-3" translate>TWO_DEGREES.TITLE_HEROES</h1>
    <div class="hero hero-carla text-content">
      <h3 class="heading hexagon">CARLA</h3>
      <div translate>TWO_DEGREES.DESCRIPTION_CARLA</div>
    </div>
    <div class="hero hero-jim text-content">
      <h3 class="heading hexagon">Beneylu Jim</h3>
      <div translate>TWO_DEGREES.DESCRIPTION_BENEYLU_JIM</div>
    </div>
    <div class="hero hero-brabrabra text-content">
      <h3 class="heading hexagon">Brabrabra</h3>
      <div translate>TWO_DEGREES.DESCRIPTION_BRABRABRA</div>
    </div>
  </div>

</md-content>
