<div class="provider-iframe" id="provider-iframe">
    <div class="bns-header">
        <img src="/medias/images/logon/logo-beneylu-school.png" alt="" />
        <a href="#" class="btn bns-notice btn-24 medium spacer back-button">
            <span class="icons-24 back-icon"></span>
            <strong>Revenir sur Beneylu School</strong>
        </a>
    </div>
    <div class="iframe-container">
        <iframe src="{{ url }}" allowtransparency="true"></iframe>
    </div>
</div>