{% extends 'BNSAppMiniSiteBundle:Layout:manager.html.twig' %}

{% block sidebar %}
	{{ parent() }}
{% endblock sidebar %}

{% block content %}
	<h1>Statistiques</h1>
	
	Not implemented yet!
{% endblock content %}
