<div ng-class="ctrl.zoneClasses" class="workshop-layout-zone layout-row">

    <a ng-if="ctrl.isWrite && !ctrl.zone.widgetGroups.length"
      ui-sref="app.workshop.document.base.kit({ pagePosition: ctrl.page.position })"
      bns-workshop-document-panel-toggle="true"
      class="workshop-zone-no-widget">
      <span class="incentive" translate>WORKSHOP.DOCUMENT.DROP_WIDGET_HERE</span>
    </a>

    <div bns-workshop-document-page-layout-zone-write ng-class="{'workshop-questionnaire-container': ctrl.document.is_questionnaire }" class="workshop-widget-group-container">
      <div ng-repeat="widgetGroup in ctrl.zone.widgetGroups" bns-workshop-document-widget-group="widgetGroup"></div>
    </div>

</div>
