{% trans_default_domain "PROFILE" %}
{% if not loop.first %}
	<md-divider></md-divider>
{% endif %}

{# TODO: status color #}
<md-list-item class="md-3-line" href="{{ path('profile_manager_feed_visualisation', {'feedId': feed.getId()}) }}">
		<div class="md-list-item-text">
			{% if feed.getProfileFeedStatus().getResource() != null %}
			<div class="text-center">
				<img src="{{ getResourceImageUrl(feed.getProfileFeedStatus().getResource(), 'medium') }}" alt="" />
			</div>
			{% endif %}
			<div class="md-body-1 status-content">{{ feed.getProfileFeedStatus().getContent()|purify }}</div>
			<p class="md-body-1 text-muted">
				{{ 'POST_AT'|trans({'%datePost%': date_from_now(feed.getDate(), false, true, 'medium', 'short', false, true)}) |desc('Posté %datePost%') |raw }}
			</p>
		</div>
</md-list-item>
