{% for feed in feeds %}
	{% include 'BNSAppProfileBundle:Status:front_status_row.html.twig' with {'feed': feed} %}
{% else %}
	<div class="row-fluid">
		<div class="span12">
			<p class="no-feed">
				{% if user.getId() != app.user.id %}
					Désolé{% if user.getGender() == 'F' %}e{% endif %} les amis, je n'ai pas encore eu le temps d'écrire un message. Je vous invite à revenir un peu plus tard.
				{% else %}
					Comme c'est dommage, tu n'as pas encore de statut, tu peux en créer un en cliquant sur <a href="{{ path('BNSAppProfileBundle_back_status') }}">ce lien</a>.
				{% endif %}
			</p>
		</div>
	</div>
{% endfor %}