<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Bienvenue sur Beneylu School</title>
	</head>
	<body style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; font-family: Trebuchet MS, Arial, Verdana, sans-serif;">
		<!-- Start Main Table -->
		<table width="100%" height="100%" cellpadding="0" style="padding: 20px 0px 20px 0px" background="white" >
			<tr align="center">
				<td>
					<table>
						<tr>
							<td>
								<span style="font-size:10px; color:#000;">Si cet email ne s'affiche pas correctement, <a href="http://webdesignweb.fr/sources/email-html/index.html" target="_blank" style="font-size:10px; color:#D44030;">cliquez-ici</span>
							</td>
						</tr>
					</table>
					<table cellpadding="0" cellspacing="0" background="http://www.beneyluschool3.dev/medias/images/mail/background-mail.png" width="580" height="580" style="padding: 0;">
						<tr style="height: 100px; float: left;">
							<td style="float: left;">
								&nbsp;
							</td>
						</tr>
						<tr>
							<td style="color: #634B33; font-family: Trebuchet MS; font-size: 13px; padding-left: 15px;">
								Le 15 septembre 2012	
							</td>
						</tr>
						<tr>
							<td style="color: #342314; font-family: Trebuchet MS; font-size: 28px; font-weight: bold; padding-left: 15px;">
								Votre inscription est validée !	
							</td>
						</tr>
						<tr>
							<td style="padding-left: 15px;">								
								<table cellpadding="0" cellspacing="0" width="380" style="background:#ECDCC5; border: 1px solid #D9BA8C;">
									<tr>
										<td style="color: #634B33; font-family: Trebuchet MS; font-size: 20px; padding-left: 10px; padding-top: 10px">
											Vos identifiants	
										</td>
									</tr>
									<tr>
										<td style="color: #6A5437; font-family: Trebuchet MS; padding-left: 10px; padding-bottom: 10px; font-size: 12px;">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, dolore magna aliquam erat volutpat, sed diam.	
										</td>
									</tr>
									<tr>
										<td style="padding-left: 15px;">
											<table cellpadding="0" cellspacing="0" width="320" style="background:#F4EBDD; padding:10px;">
												<tr>
													<td style="color: #6A5337; font-family: Trebuchet MS; font-size: 14px;">
														Nom d'identifiant	
													</td>
													<td style="color: #D44030; font-family: Trebuchet MS; font-weight: bold; font-size: 14px;">
														BeneyluJim	
													</td>
												</tr>	
												<tr>
													<td style="color: #6A5337; font-family: Trebuchet MS; font-size: 14px;">
														Mots de passe
													</td>
													<td style="color: #D44030; font-family: Trebuchet MS; font-weight: bold; font-size: 14px;">
														Zitoshow145	
													</td>
												</tr>
											</table>											
										</td>
									</tr>
									<tr>
										<td align="center" style="padding-top: 10px; padding-bottom: 5px;">
											<a href="#" style="width: 190px; text-decoration: none; background: #96B331; border: 1px solid #6C8C2F; color: white; display: block; padding: 5px 10px; font-family: Trebuchet MS; font-weight: bold; font-size: 20px;">Se connecter</a>
										</td>										
									</tr>
								</table>
							</td>
						</tr>
						<tr >
							<td>
								<table cellpadding="0" cellspacing="0" width="420">
									<tr>
										<td style="color: #634B33; font-family: Trebuchet MS; font-weight: bold; padding-left: 15px; font-size: 12px; font-style: italic;">
											L'équipe BeneyluSchool			
										</td>
									</tr>
									<tr>
										<td style="padding-top:10px; padding-left: 15px;">
											<p style="color: #634B33; font-family: Trebuchet MS; font-size: 11px; margin: 0;">Vous pouvez gérer vos identifications à l'adresse</p>		
											<p style="margin: 0;"><a style="color: #634B33; font-family: Trebuchet MS; font-size: 11px;" href="#">http://www.beneyluschool.net</a></p>		
										</td>
									</tr>
									<tr>
										<td style="color: #634B33; font-family: Trebuchet MS; font-size: 11px; padding-top:10px; padding-left: 15px;">
											Veuillez ne pas répondre à ce message; il a été envoyé d’une adresse email qui n’est pas relevée. 
											Ce message est un service email en rapport avec votre utilisation de BeneyluSchool. 
											Pour toute requête ou demande de support à propos de votre compte BeneyluSchool, 
											veuillez nous rendre visite à l’adresse Support BeneyluSchool.	
										</td>
									</tr>
								</table>											
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>	
	</body>
</html>