<div class="loading-container">
	<img src="{{ asset('/medias/images/icons/medium-loader.gif') }}" alt="Gif animé de chargement" /> Chargement en cours, veuillez patienter...
</div>

<div class="directory-container"></div>
