{% trans_default_domain "GPS" %}
{% import 'BNSAppMainBundle:Components:macros.html.twig' as components %}

<md-list-item id="category_{{ place.getGpsCategory.id }}">
  <div class="md-list-item-text layout-row layout-padding layout-align-start-center" flex>
    <div class="md-headline flex flex-none">{{ place.label }}</div>-
		<div class="categories flex">
		  {{ place.getGpsCategory.label }}
		</div>
    {{ components.button_nav('LINK_SEE_CARD'|trans, {
      href: path('BNSAppGPSBundle_back_place_sheet',{'slug' : place.slug }),
      size: 'sm',
    }) }}
	</div>
  <md-divider></md-divider>
</md-list-item>
