<li id="list_{{ category.id }}" class="gps-category-select" data-category-id="{{ category.id }}">
	<div>
		<span class="vertical-separator  {{ category.isActive ? "green" : "orange" }}"></span>
		<div>{{ category.label }}</div>
		<span class="select"></span>
	</div>
</li>