{% trans_default_domain "GPS" %}

{% import 'BNSAppMainBundle:Components:macros.html.twig' as components %}

<li id="list_{{ category.id }}" bns-feature-flag="'gps_categories'" bns-feature-push data-toggle="menu" data-target="#category-edit-mode" class="category-edition">
	<div>
		<div class="loader loader">
    </div>
		<span class="list-grip"></span>
        {% set active = category.isActive ? "" : "off" %}
        {% include 'BNSAppMainBundle::popover.html.twig'
            with {
                'element' : 'span',
                'class'   : 'category-icon gps-category-toggle ' ~ active,
                'title'   : "ACTIVATE_CATEGORY"|trans,
                'content' : "ENABLED_DISABLE_CATEGORY"|trans,
                'module'  : 'gps',
                'size'    : 'medium',
                'placement' : 'bottom'
            }
        %}
		<span class=""></span>
		<div class="title">{{ category.label }}</div>
		<span class="close-button">×</span>
	</div>
	<div class="category-editor">
		<input type="text" name="label" value="{{ category.label }}">

    {{ components.button( 'LINK_VALIDATE' | trans , {intent: 'accent', href: '#', size: 'sm', icon: 'done', raised: true, attr : {'class' : 'submit-category', 'data-toggle' : 'menu', 'data-target' : '#default-header'} }) }}


	</div>
</li>
