{% extends 'BNSAppGPSBundle:Back:layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(function ()
		{
			$('body').on('click', '.item-list-container .item', function (e)
			{
				window.location = $(e.currentTarget).find('.btn-visualisation').attr('href');
			});
		});
	</script>
{% endblock javascripts %}

{% block action_bar %}
	<div class="header-buttons">
		<div class="inner-header">
			<div class="container container-fluid">
				<div class="row-fluid">
					<div class="span6">
						<a href="{{ path('BNSAppGPSBundle_back_new_place') }}" class="btn bns-info btn-24 large">
							<span class="icons-24 add-icon"></span>
							Ajouter un lieu
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block sidebar %}
	<div class="container-sidebar list" id="gps-sidebar">
		<div class="section active">
			Lieux
			<span class="shadow-section"></span>
		</div>
		<div class="title-container gps-category-filter">
			<div class="title active border-blue">
				Trier par catégorie<span class="square icon-arrow"></span>
			</div>
			{% include "BNSAppGPSBundle:Back:blockCategorySidebar.html.twig" with {'categories' : categories, 'isEditionMode': false} %}
		</div>
		<div class="container-section">
			<div class="section">
				<a href="{{ path('BNSAppGPSBundle_back_categories') }}">Catégories</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="layer-places-loading">
	    <div class="message">
		   Chargement des lieux en cours, veuillez patienter...
		   <div><img src="{{ asset('/medias/images/icons/big-loader.gif') }}" alt="" /></div>
	    </div>
	</div>
	<div id="gps-places-list" class="gps-places-list">
		{% render "BNSAppGPSBundle:Back:placesList" %}
	</div>
{% endblock %}
