<div class="gps-place-back-map">
	<a href="#" class="btn bns-danger btn-16 small gps-place-back-map-close"><span class="icons-16 cancel-icon"></span><strong>Fermer</strong></a>
	<br />
	{{ vichgeo_map_for('front_map', place) }}
	<script>
		$('#map_canvas').css('width','100%');
	</script>
</div>