{% trans_default_domain "GPS" %}
{% for place in places %}
	{% if loop.first %}
		<div class="layer"></div>
		<md-content class="flex">

	{% endif %}
		{% include "BNSAppGPSBundle:Back:blockPlace.html.twig" with {'place' : place} %}
	{% if loop.last %}
		</md-content>
	{% endif %}
{% else %}
<div class="md-padding">
	{% include "BNSAppMainBundle:NoInformation:index.html.twig" with {'text' : "NO_PLACE_IN_GPS"|trans, design: 'new', button : { 'text' : "LINK_ADD_PLACE"|trans , 'link' : path('BNSAppGPSBundle_back_new_place') }} %}
</div>
{% endfor %}
