{% trans_default_domain "GPS" %}
{% import 'BNSAppMainBundle:Components:macros.html.twig' as components %}

<div class="gps-place-back-map">

  {{ components.button( 'LINK_CLOSE' | trans , { href: '#', icon: 'close', raised: true, size: 'sm', attr: {'class' : 'gps-place-back-map-close'} }) }}

  <br />
	{{ vichgeo_map_for('front_map', place) }}
	<script>
		$('#map_canvas').css('width','100%');
	</script>
</div>
