{% if page == "index" %}

{% endif %}

{% if page == "new_place" %}

{% endif %}

{# <div class="content-add-btn edit-new-map">
{% if page == "new_place" %}
	<div class="content-button-manager-form">
		<a class="btn return" href="{{ path('BNSAppGPSBundle_back') }}"><span class="return"></span>Revenir à la liste</a>
	</div>
	<div class="float-right edit-map">
		<div class="content-button-manager-form">
			<a class="btn btn-danger" href="{{ path('BNSAppGPSBundle_back') }}">Annuler</a>
			<a class="btn save-gps-place" id="submit-gps-place" href="#"><span class="finish"></span>J'ai terminé</a>
		</div>
	</div>
{% endif %}
</div> #}
