{% trans_default_domain "TEAM" %}
{% extends '::base.html.twig' %}

{% set app_unique_name = 'TEAM' %}
{% set app_mode = 'front' %}

{% block title %}
	{% trans %}TEAM{% endtrans %}
{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('/medias/css/group/front.css') }}" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}


    <div class="background-group team">
        <div class="board team">
            <div class="message">
                <p>{{ team.label }}</p>
                <div class="border"></div>
                <p>{{ homepageMessage }}</p>
            </div>
        </div>
    </div>
{% endblock %}
