<div ng-message="required"><span translate>MAIN.ERROR_REQUIRED_FIELD</span></div>
<div ng-message="pattern"><span translate>MAIN.ERROR_FORMAT_NOT_VALID</span></div>
<div ng-message="format"><span translate>MAIN.ERROR_FORMAT_NOT_VALID</span></div>
<div ng-message="number"><span translate>MAIN.ERROR_NUMBER_NOT_VALID</span></div>
<div ng-message="min"><span translate>MAIN.ERROR_TOO_SMALL</span></div>
<div ng-message="minlength"><span translate>MAIN.ERROR_TOO_SMALL</span></div>
<div ng-message="max"><span translate>MAIN.ERROR_TOO_LARGE</span></div>
<div ng-message="md-maxlength"><span translate>MAIN.ERROR_TOO_LARGE</span></div>
<div ng-message="maxlength"><span translate>MAIN.ERROR_TOO_LARGE</span></div>
<div ng-message="email"><span translate>MAIN.ERROR_INVALID_EMAIL</span></div>
<div ng-message="url"><span translate>MAIN.ERROR_INVALID_URL</span></div>
<div ng-message="date"><span translate>MAIN.ERROR_INVALID_DATE</span></div>
<div ng-message="time"><span translate>MAIN.ERROR_INVALID_TIME</span></div>
<div ng-message="datetimelocal"><span translate>MAIN.ERROR_INVALID_DATE</span></div>
<div ng-message="minDate"><span translate>MAIN.ERROR_MIN_DATE</span></div>
<div ng-message="maxDate"><span translate>MAIN.ERROR_MAX_DATE</span></div>
