{% extends '::base.html.twig' %}

{% block body %}
	<div style="margin-top: 300px;">
		<a href="{{ authorizeUrl }}" class="btn btn-success">Entrer dans le monde merveilleux de la Beneyluschool 3 !</a>
	</div>
{% endblock %}