<p><a class="footer-link" href="{{ path('home') }}">Accueil</a> - <a class="footer-link" href="{{ path('main_logon_legals') }}">Mentions légales</a> - <a class="footer-link" href="http://www.hamburware.com" target='_blank'>Copyright Hamburware {{ "now"|date("Y") }}</a> - Enregistrement CNIL N°1321978</p>
