<html>
	<head>
		<title>Beneyluschool 3 - Redirection en cours...</title>
		<link href="{{ asset('/medias/css/logon/front.css') }}" rel="stylesheet" type="text/css" />
		<script type="text/javascript">
			function refresh()
			{
				{% if (redirect|length == 0) %}
					this.parent.location.reload();
				{% else %}
					this.parent.location = '{{ redirect }}';
				{% endif %}
				setTimeout("document.getElementById('oops').style.display = 'block';", 3000);
			}
		</script>
	</head>
	<body onload="refresh()">
		<div class="layer">
			<div class="message">
				Connexion à Beneylu School en cours, veuillez patienter ...
				<div><img src="{{ asset('/medias/images/icons/big-loader.gif') }}" alt="" /></div>
			</div>
		</div>
		<div id="oops" style="display: none;" class="load">
			<p>Oops... ça ne fonctionne pas ?</p>

			{% if (redirect|length == 0) %}
				<p>Recharge la page en appuyant sur <strong>F5</strong> ou <strong>⌘ + R</strong></p>
			{% else %}
				<a href="{{ redirect }}">Clique ici</a> pour te rendre sur la Beneyluschool !
			{% endif %}
		</div>
	</body>
</html>