<div class="loader loader-sb"></div>
<div class="modal-body" data-object="{{ information.getId() }}">
	<div class="content-modal-body">
		<h2>Êtes-vous sûr de vouloir supprimer l'information "{{ information.getTitle() }}" de votre tableau d'information ?</h2>
		<h3>Vous perdrez la totalité du contenu de l'information.</h3>
	</div>
</div>
<div class="beneylu-jim"></div>