<div class="modal-footer">
	<div class="content-btn-footer">
		<a href="#" class="btn bns-success btn-24 medium-return confirm">
			<span class="icons-24 validate-icon"></span>
			<strong>Confirmer</strong><br />
			la publication
		</a>
		<a href="#" class="btn bns-notice btn-24 medium" data-dismiss="modal">
			<span class="icons-24 back-icon"></span>
			<strong>{% trans %}Modal.Close{% endtrans %}</strong>
		</a>
	</div>
</div>