<div class="modal-body">
	<div class="content-modal-body">
		<h2>Attention, vous avez configuré la date de publication de quelques minutes/heures dans le futur...</h2>
		<h3>Si vous confirmez cette publication, le statut de l'information se transformera en publication programmée et celui-ci ne sera publié qu'à l'heure souhaitée.</h3>
	</div>
</div>
<div class="beneylu-jim"></div>