{% trans_default_domain "TEMPLATE" %}
<div class="theme-preview-loader">
	<img src="{{ asset('/medias/images/icons/medium-loader.gif') }}" /> {{ 'PLEASE_WAIT_LOADING'|trans |desc('Veuillez patienter, le chargement de l\'aperçu en cours.') }}
</div>
<div class="theme-preview-container"></div>