/* global window */

/**
 * Angular application parameters.
 *
 *    /!\ Should NOT contain sensible information.
 *
 * @type {Object}
 */
window.bns_parameters = {
  brand_name: 'Beneylu School',
  // build version
  version: '<%= Date.now() %>',
  // web path
  app_base_path: '/ent',
  // websocket server address
  realtime_socket_addr: 'wss://beneylu.dev:3000',
  // new application management
  has_application_management: true,
  // virtual keyboard
  has_virtual_keyboard: false,
  // starter kits
  has_starter_kit_homework: false,
  has_starter_kit_media_library: false,
  has_starter_kit_main: false,
  // trusted domains for resources and html templates
  resource_url_whitelist: [
    'self',
    // 'http://paas.beneylu.dev/**',
    // 'https://test-paas.beneylu.net/**',
    // 'https://preprod-paas.beneylu.com/**',
    'https://paas.beneylu.com/**',
    'https://storage.sbg-1.runabove.io/**',
    'https://rallye-lecture.fr/**',
    'https://www.hiboutheque.fr/**',
    'http://www.soquiz.com/**',
    'https://rest.123cabri.com/**',
    'https://www.reseau-canope.fr/**',
    'http://www.fichespedagogiques.com/**',
    'https://webservice.cordial-enligne.fr/**',
    'https://www.myelton.fr/**',
    'https://connectadv.englishtracker.com/**',
    'https://connectkids.englishtracker.com/**',
    'https://connectcm2.objectifzerofaute.com/**',
    'https://secureadv.englishtracker.com/**',
    'https://securekids.englishtracker.com/**',
    'https://securecm2.objectifzerofaute.com/**',
    'https://testconnectadv.englishtracker.com/**',
    'https://testconnectkids.englishtracker.com/**',
    'https://testconnectcm2.objectifzerofaute.com/**',
    'https://testsecureadv.englishtracker.com/**',
    'https://testsecurekids.englishtracker.com/**',
    'https://testsecurecm2.objectifzerofaute.com/**',
    'https://ssl2.ovh.net/~neotissi/**',
    'https://ssl3.ovh.net/~cogiteme/**',
    'http://madmagz.local/**',
    'https://preprod.madmagz.com/**',
    'https://madmagz.com/**',
    'https://storage.gra1.cloud.ovh.net/**',
    'https://cochadata.com/**',
    'https://www.filamentlearning.com/**',
    'https://dev.filamentlearning.com/**',
    'https://staging.filamentlearning.com/**',
    'https://en.matlandia.trunk.test.gwo.pl/**',
    'https://mathland.yellow-dot.eu/**',
  ],
};
