{% trans_default_domain "MESSAGING" %}
<div class="row-fluid">
            <div class="span1">
                <div class="left-post"></div>
            </div>
            <div class="span3">
                <div class="content-sidebar-messaging">
                    <div class="border-top-sidebar"></div>
                    <ul>
                        <!-- For each des dossiers retournés par le controller -->
                        <li>
                            <a href="#" class="mailFolder btn actif">{{ 'LINK_MODERATION'|trans }}</a>
                        </li>
                    </ul>
                </div>
            </div>
