<div class="statistic-root">

  <md-toolbar class="bns-actionbar app-toolbar">
    <div container class="md-toolbar-tools main-container" ui-view="actionbar"></div>
  </md-toolbar>
  <!--<div class="statistic-topbar-container" ui-view="topbar"></div>-->

  <!--<div class="statistic-main-container row">-->
    <!--<div class="statistic-navigation-container span4" ui-view="navigation"></div>-->

    <!--<div class="statistic-scene-container span8" ui-view="scene"></div>-->
  <!--</div>-->

  <div container class="flex layout-row main-container">

    <md-sidenav class="layout-column md-sidenav-left bns-sidebar" md-component-id="left" md-is-locked-open="app.isSidebarLockedOpen()">

      <header bns-sidebar-header app="navbar.app"></header>

      <md-content class="flex" ui-view="sidebar"></md-content>

    </md-sidenav>

    <md-content id="content" class="bns-content flex layout-column ">
      <div class="bns-content-inner flex layout-column" ui-view="content">
      </div>
    </md-content>

  </div>


</div>
