<div id="search-results" class="search-results">Chargement de la recherche en cours...</div>

<script type="text/javascript">
    {# Déclaration en Twig de l'Url appelée chez Google pour le moteur de recherche #}
    var crefUrl = "{{ white_list_url }}";
    doSearch('{{ query }}');
</script>