<p class="md-body-2"><strong>Athlétisme :</strong> Marcher (marche athlétique) - courir (<i>sprint</i>, course de haies, course de fond, le relais) – sauter (en hauteur, à la perche, en triple-sauts, en longueur) – lancer (le javelot, le marteau, le disque ou le poids) ou combiner ces disciplines pour un décathlon, c’est faire de l’athlétisme ! L'origine du mot athlétisme vient du grec "Athlos" qui veut dire “combat”.</p>

<p class="md-body-2"><strong>Avirons :</strong> Les avirons sont des rames en bois.</p>

<p class="md-body-2"><strong><i>Brief</i> de la <i>coach</i> :</strong> Avant le match, l’entraîneur (ou le coach) expose à l’équipe les objectifs et le rôle de chacun.</p>

<p class="md-body-2"><strong>Candidature :</strong> Se présenter à un concours. Paris a envoyé une lettre de candidature au CIO (Comité International Olympique) pour organiser les Jeux Olympiques et Paralympiques de 2024. Si elle est choisie, elle deviendra la ville hôte des Jeux de 2024.</p>

<p class="md-body-2"><strong>Débriefing :</strong> C’est un compte-rendu critique après une épreuve pour en faire le bilan.</p>

<p class="md-body-2"><strong>Échauffement :</strong> Mettre en route son corps et son esprit avant de faire du sport pour éviter les blessures.</p>

<p class="md-body-2"><strong>Éco-quartier :</strong> Quartier dont l’impact sur l’environnement est minimal.</p>

<p class="md-body-2"><strong>Fair-play (franc-jeu) :</strong> Pratiquer un sport en respectant les règles, l’esprit du jeu et son adversaire.</p>

<p class="md-body-2"><strong>Fleurettiste :</strong> C’est un escrimeur tirant au fleuret.</p>

<p class="md-body-2"><strong>Héritage :</strong> Tout ce qui restera après les Jeux.</p>

<p class="md-body-2"><strong>Jeux Paralympiques :</strong> Les Jeux Paralympiques réunissent des athlètes handicapés venus du monde entier.</p>

<p class="md-body-2"><strong>Lancer franc au basket :</strong> Lorsqu’une faute est sifflée par l'arbitre le jeu s’arrête. Le basketteur victime de la faute se place derrière la ligne de lancer franc (à 4,60 mètres du panier adverse) et tire. S’il marque, il gagne 1 point.</p>

<p class="md-body-2"><strong>Porte-drapeau :</strong> Le porte-drapeau est l’athlète désigné pour porter le drapeau et mener les athlètes de son pays lors de la cérémonie d’ouverture des Jeux. C’est un grand honneur.</p>

<p class="md-body-2"><strong>Serveur :</strong> Le joueur de tennis qui fait un service, c’est-à-dire qui lance la balle pour engager le match.</p>

<p class="md-body-2"><strong>Sport nautique :</strong> C’est un sport qui se pratique sur ou dans l’eau (l’aviron, le <i>surf</i>, le <i>water-polo</i>…).</p>

<p class="md-body-2"><strong>Tamis :</strong> C’est la surface avec les cordes d’une raquette de tennis.</p>

<p class="md-body-2"><strong>Vice-champion :</strong> C’est le second d’un championnat.</p>
