<img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/olympics/image-environnement.jpg" alt="Environnement" class="olympics-image md-whiteframe-z2">

<p class="md-body-2">Les Jeux sont l’occasion de mettre en place des inventions astucieuses pour <strong>améliorer notre cadre de vie et protéger notre planète</strong>. Ces inventions resteront après l’événement. C’est ce qu’on appelle <strong>l’héritage*</strong>.

<p class="md-body-2">Paris souhaite par exemple :

<ul class="md-body-2">
  <li><strong>Nettoyer la Seine</strong> pour accueillir les épreuves de natation lors des Jeux de 2024. Tu pourras même aller te baigner dedans après !</li>
  <li>Construire <strong>des sites respectueux de l’environnement</strong>. Après les Jeux, les villages seront transformés en <strong>éco-quartiers*</strong>.</li>
  <li>Sensibiliser les jeunes (comme toi) à la <strong>protection de la planète</strong>.</li>
  <li>Faciliter l’accès des bâtiments aux personnes handicapées.</li>
  <li>Ouvrir <strong>1 400 km de pistes cyclables</strong> pour que les spectateurs se rendent à vélo sur les sites de compétition. C’est l’équivalent d’un aller-retour entre Paris et Marseille !</li>
</ul>
