<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Le palais">
    <md-content class="md-padding">
      <img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/olympics/GP-1.jpg" alt="" class="olympics-image md-whiteframe-z2">
      <p class="md-body-2">Le Grand Palais est sur l’avenue des <strong>Champs Elysées</strong> à Paris. Approchons…</p>
    </md-content>
  </md-tab>
  <md-tab label="Les expositions">
    <md-content class="md-padding">
      <img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/olympics/GP-2.jpg" alt="" class="olympics-image md-whiteframe-z2">
      <p class="md-body-2">Il est composé de <strong>6 000 tonnes d’acier</strong> (c’est plus que pour la Tour Eiffel !). Il a été imaginé pour l’<strong>Exposition universelle de 1900</strong> et accueille aujourd’hui des expositions, des défilés de mode et des compétitions sportives. Entrons...</p>
    </md-content>
  </md-tab>
  <md-tab label="Les compétitions">
    <md-content class="md-padding">
      <img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/olympics/GP-3.jpg" alt="" class="olympics-image md-whiteframe-z2">
      <p class="md-body-2">En 2024, Le Grand Palais accueillera les compétitions d’escrime et de taekwondo des Jeux Olympiques et les épreuves d’escrime en fauteuil des Jeux Paralympiques. Prends <strong>ton fleuret</strong>, on y va !</p>
    </md-content>
  </md-tab>
</md-tabs>
