<img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/olympics/image-france.jpg" alt="Villes des Jeux" class="olympics-image">

<p class="md-body-2">Paris est ville candidate à l’organisation des <strong>Jeux Olympiques et Paralympiques*</strong> de 2024.</p>

<p class="md-body-2">Elle a donc préparé un dossier de <strong>candidature*</strong> avec ses meilleures idées pour convaincre les membres du <strong>CIO</strong> (Comité International Olympique) qu’elle est la ville la plus chouette pour accueillir les Jeux !</p>

<p class="md-body-2">Partout en France, les stades de Bordeaux, Lille, Lyon, Marseille, Nantes, Nice, Saint-Etienne et Toulouse se préparent à accueillir des compétitions en 2024, vibrer sous les efforts des athlètes et éclater de joie pour la victoire...</p>

<p class="md-body-2">Mais, la France n’est pas la seule à se prendre aux Jeux ! Budapest en Hongrie, Los Angeles aux États-Unis et Rome en Italie sont aussi candidates.</p>


<h3 class="md-headline">Alors, qui va gagner ?!!</h3>

<p class="md-body-2">Tu le sauras mercredi 13 septembre 2017… En attendant, prépare-toi aux Jeux de 2024 !</p>
