<p class="md-body-2">Emmeline Ndongue, vice championne olympique de basket-ball</p>

<div class="olympics-video-wrapper">
  <div class="olympics-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SO6Gv-5mlo4?rel=0&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen class="md-whiteframe-z2"></iframe>
  </div>
</div>

<p class="md-body-2">“Les Jeux Olympiques et Paralympiques sont le plus grand événement sportif au monde ! Pendant 15 jours, les athlètes, les bénévoles et les spectateurs, partagent leur amour du sport et le célèbrent dans un esprit de convivialité, de fraternité et de <strong>fair-play*</strong> quel que soit leur pays d’origine”.</p>

<h3 class="md-headline">L’interview d’Emmeline Ndongue</h3>


<div class="layout-gt-md-row">
  <div class="flex" style="max-width: 300px; margin-left: auto; margin-right: auto;">
    <img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/olympics/image-emmeline.jpg" alt="Emmeline" class="olympics-image md-whiteframe-z2">
  </div>
  <div class="layout-margin"></div>
  <div class="flex">
    <dl class="olympics-interview">
      <dt>Beneylu : Quel est ton souvenir sportif à l’école primaire ?</dt>
      <dd>Emmeline : On faisait de <strong>l’athlétisme*</strong> : un relais. On avait le bâton, on était dans la cour de mon école et c’était compliqué de courir en respectant les zones. Je me rappelle être partie trop tôt et avoir dû attendre mon camarade… Et que c’était vraiment super de faire du sport tous ensemble !</dd>
      <dt>Beneylu : As-tu un secret pour gagner au basket ?</dt>
      <dd>Emmeline : Le travail. J’ai besoin de maîtriser ce que je fais au basket pour l’appliquer sur le terrain. Alors, je répète encore et encore les gestes, les bases… et ça marche ! J’ai aussi besoin de la confiance de mes partenaires et de leur soutien.</dd>
      <dt>Beneylu : As-tu un rituel avant un match ?</dt>
      <dd>Emmeline : J’arrive à la dernière minute avant le match. On fait d’abord un petit <strong>échauffement*</strong>, tout seul. Puis, il y a le brief de la <strong>coach*</strong>. On vient alors sur le terrain en collectif pour un dernier échauffement. Juste avant le brief, je tire toujours 2 <strong>lancers francs*</strong>. Marquer me rassure avant le match !</dd>
      <dt>Beneylu : Peux-tu nous raconter un souvenir marquant de ta carrière de basketteuse ?</dt>
      <dd>Emmeline : Le championnat d’Europe en 2009, quand nous sommes devenues championnes ! C’est l’histoire d’une équipe de filles heureuses de vivre cette aventure ensemble. On s’est beaucoup amusées ! On était une vraie petite famille. Tous les feux étaient au vert, c’était un parcours inattendu, un peu magique !</dd>
    </dl>
  </div>
</div>
