<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="La base">
    <md-content class="md-padding">
      <img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/olympics/MA-1.jpg" alt="" class="olympics-image md-whiteframe-z2">
      <p class="md-body-2">La base nautique de Vaires-sur-Marne est située sur <strong>les rives de la Marne</strong>, à l’est de Paris. Elle a été construite sur une ancienne carrière de sable. Approchons…</p>
    </md-content>
  </md-tab>
  <md-tab label="La Marne">
    <md-content class="md-padding">
      <img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/olympics/MA-2.jpg" alt="" class="olympics-image md-whiteframe-z2">
      <p class="md-body-2">La Marne est une rivière de <strong>514 km</strong> qui a inspiré de nombreux peintres comme Camille Pissarro et son élève <strong>Paul Cézanne</strong>. Approchons…</p>
    </md-content>
  </md-tab>
  <md-tab label="Les Jeux">
    <md-content class="md-padding">
      <img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/olympics/MA-3.jpg" alt="" class="olympics-image md-whiteframe-z2">
      <p class="md-body-2">En 2024, la base nautique de Vaires-sur-Marne accueillera les épreuves d’aviron et de canoë-kayak des Jeux. Prends tes <strong>avirons*</strong>, on y va !</p>
    </md-content>
  </md-tab>
</md-tabs>
