<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Le stade">
    <md-content class="md-padding">
      <img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/olympics/RG-1.jpg" alt="" class="olympics-image md-whiteframe-z2">
      <p class="md-body-2">Bop ! Bop ! C’est le bruit des balles jaunes sur les <strong>tamis*</strong> des raquettes. Les courts de tennis de Roland-Garros sont en <strong>terre battue</strong>. C’est ce qui leur donne cette couleur orange.  Approchons…</p>
    </md-content>
  </md-tab>
  <md-tab label="Le tournoi">
    <md-content class="md-padding">
      <img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/olympics/RG-2.jpg" alt="" class="olympics-image md-whiteframe-z2">
      <p class="md-body-2">Le stade porte le nom de l’aviateur français Roland Garros, le 1er à avoir traversé la Méditerranée à bord d’un <strong>avion monoplan</strong>. Il accueille chaque année le tournoi des <strong>Internationaux de France de tennis</strong>, l’un des 4 tournois du <strong>Grand Chelem</strong>. On dit que c’est le plus difficile du monde ! Approchons…</p>
    </md-content>
  </md-tab>
  <md-tab label="Roland Garros">
    <md-content class="md-padding">
      <img src="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/olympics/RG-3.jpg" alt="" class="olympics-image md-whiteframe-z2">
      <p class="md-body-2">En 2024, Roland-Garros accueillera les compétitions de tennis des Jeux et sera l’un des points majeurs des <strong>Jeux Paralympiques*</strong>. On viendra applaudir des matchs de tennis, de basketball et de rugby <strong>en fauteuil</strong>. Prends <strong>ta raquette</strong>, on y va !</p>
    </md-content>
  </md-tab>
</md-tabs>
