<div class="portal-minisite-widget front">
  <h2>{{ widget.data('title') }}</h2>
  <bns-portal-minisite-widget-front widget-id="{{ widget.id }}" group-id="{{portal.groupId}}" portal-zone="{{ widget.portalWidgetGroup.portalZone.uniqueName }}"></bns-portal-minisite-widget-front>
</div>
