<md-progress-linear md-mode="indeterminate" ng-style="{ visibility: box.items.busy_ ? 'visible' : 'hidden' }"></md-progress-linear>

<div infinite-scroll="box.items.loadMore()"
  infinite-scroll-distance="0.25"
  infinite-scroll-disabled="box.items.busy_"
  infinite-scroll-listen-for-event="messaging.box.refreshed"
  infinite-scroll-container="'#'+boxId"
>
  <div ng-repeat="item in box.items.items_"
    class="layout-row"
    bns-messaging-box-item
  >
  </div>

  <div class="layout-row layout-align-center-center" ng-show="box.items.busy_">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</div>

<div ng-if="0 === box.items.total" ng-transclude class="flex layout-row layout-align-center-center"></div>
