<div class="loader loader-sb"></div>
<div class="modal-body">
	<div class="category-editor">
		<div class="category-icon-selector">
			<span class="default"></span>
		</div>
		<input type="text" name="" value="" placeholder="Titre de la nouvelle catégorie" />
	</div>
	<div class="alert alert-danger bns-alert hide empty">
		Veuillez saisir un titre
		<div class="jim"></div>
	</div>
</div>