{#<div class="workshop-widget-atelier-document">#}
    {#<div class="viewer-media-wrapper media-atelier-document">#}
        {#<div class="viewer-media-inner viewer-media-atelier-document">#}
            {#<div class="content-file-resource">#}
                {#<div class="download">#}
                    {#<a href="{{ media.downloadUrl }}" class="btn bns-notice btn-24 large" target='_blank'>#}
                        {#<i class="bns-icon-document"></i>#}
                        {#{{ media.label }}#}
                    {#</a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}
