<div class="workshop-widget-document">
  <div class="media-document">
    <div class="viewer-media-inner viewer-media-document">
      <a class="bns-viewer-link" href="{{ media.downloadUrl }}" target="_blank" data-id="{{ media.id }}" data-slug="{{ media.slug }}">
        <i class=" bns-icon-link"></i>
        {{ media.label }}
      </a>
    </div>
  </div>
</div>



