<div class="media-image">
    <div class="viewer-media-inner viewer-media-image">
        <div class="bns-viewer-image">
            <img data-slug="{{ media.slug }}" data-id="{{ media.id }}" src="{{ media.imageUrl }}" />
        </div>
    </div>
</div>
