<div class="workshop-widget-link">
  <div class="media-link">
    <div class="viewer-media-inner viewer-media-link">
      <a class="bns-viewer-link" href="{{ media.mediaValue }}" target="_blank">
        <i class=" bns-icon-link"></i>
        {{ media.label }}
      </a>
    </div>
  </div>
</div>


