{% trans_default_domain "MINISITE" %}
{% extends '::base.html.twig' %}

{% set app_unique_name = 'MINISITE' %}
{% set app_mode = 'front' %}

{% block title %}
  {% if miniSite.getTitle() %}
    {{ miniSite.getTitle()|trans }}
  {% else %}
    {% trans %}TITLE_MINISITE{% endtrans %}
  {% endif %}
{% endblock %}

{% block meta_description %}{{ miniSite.getDescription() |striptags }}{% endblock %}

{% block css %}
	{{ parent() }}
	<link href="{{ asset('/medias/css/minisite/front.css') }}" rel="stylesheet" type="text/css"/>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
{% endblock css %}

{% block body %}
	<div class="background-mini-site"></div>
	<div class="container container-fluid">
		<div class="row-fluid">
			<div class="span12">
				{% block header %}Add my header!{% endblock %}
			</div>
		</div>
		<div class="row-fluid content-mini-site">
			{% block content %}Add my content!{% endblock %}
		</div>
	</div>
{% endblock body %}
