{% extends '::base.html.twig' %}

{% block title %}
	Minisite
{% endblock %}

{% block css %}
	{{ parent() }}
	<link href="{{ asset('/medias/css/minisite/front.css') }}" rel="stylesheet" type="text/css"/>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
{% endblock css %}
	
{% block body %}
	<div class="background-mini-site"></div>
	<div class="container container-fluid">
		<div class="row-fluid">
			<div class="span12">
				{% block header %}Add my header!{% endblock %}
			</div>
		</div>
		<div class="row-fluid content-mini-site">
			{% block content %}Add my content!{% endblock %}
		</div>
	</div>
{% endblock body %}
	

{% block dock_bar %}
	{% render "BNSAppMainBundle:DockBar:index" with {'module_unique_name' : "MINISITE" , 'is_in_front' : true } %}
{% endblock %}