<form name="form" ng-submit="ctrl.submit()" autocomplete="off">
  <bns-inset ng-show="ctrl.errors.length"class="bns-warn bns-small">
    <div ng-repeat="error in ctrl.errors">{{error}}</div>
  </bns-inset>

  <md-input-container>
    <label translate>ACCOUNT.LABEL_CURRENT_PASSWORD</label>
    <input type="password" name="password" ng-model="ctrl.data.password" required>
  </md-input-container>

  <md-input-container md-auto-hide="false">
    <label translate>ACCOUNT.LABEL_NEW_PASSWORD</label>
    <input type="password" name="plain_password" ng-model="ctrl.data.plain_password" bns-validity-indicator bns-password-strength required>
    <div ng-messages="form.plain_password.$error" multiple md-auto-hide="false">
      <div ng-message="number"><span translate>ACCOUNT.INVALID_PASSWORD_MISSING_NUMBER</span></div>
      <div ng-message="specialchar"><span translate>ACCOUNT.INVALID_PASSWORD_MISSING_SPECIAL</span></div>
      <div ng-message="minlength"><span translate translate-values="{length: 8}">ACCOUNT.INVALID_PASSWORD_MIN_LENGTH</span></div>
    </div>
  </md-input-container>

  <md-input-container>
    <label translate>ACCOUNT.LABEL_REPEAT_NEW_PASSWORD</label>
    <input type="password" name="plain_password_repeated" ng-model="ctrl.data.plain_password_repeated" bns-validity-indicator bns-validate-repeated="ctrl.data.plain_password" required>
    <div ng-messages="form.plain_password_repeated.$error">
      <div ng-message="repeated"><span translate>ACCOUNT.INVALID_PASSWORD_REPEATED</span></div>
    </div>
  </md-input-container>

  <div class="layout-row layout-align-end-center">
    <md-button type="submit" class="md-raised md-accent" ng-disabled="!form.$valid">
      <span ng-bind-html="'ACCOUNT.BUTTON_SUBMIT'|translate|buttonize">.</span>
    </md-button>
  </div>
</form>
<div class="progress-overlay layout-row layout-align-center-center" ng-show="ctrl.busy">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
