<div class="modal-footer">
	<div class="content-btn-footer">
		<a href="#" class="btn bns-danger btn-24 medium-return valid-delete delete-process">
			<span class="icons-24 delete-icon"></span>
			<strong>Supprimer </strong><br />le sujet
		</a>
		<a href="#" class="btn bns-notice btn-24 medium" data-dismiss="modal">
			<span class="icons-24 back-icon"></span>
			<strong>Fermer</strong>
		</a>
	</div>
</div>