<div class="modal-body">
	<div class="content-modal-body">
		<h2>Êtes-vous sûr de vouloir archiver le forum ?</h2>
		<h3>La totalité des messages deviendront anonymes. Le forum passera en lecture seule.</h3>
	</div>
</div>
<div class="beneylu-jim"></div>