<div class="modal-body">
	<div class="content-modal-body">
		<h2>Êtes-vous sûr de vouloir supprimer le sujet ?</h2>
		<h3>Vous perdrez la totalité du contenu du sujet.<br />A noter que les documents joints/insérés ne seront pas supprimés.</h3>
	</div>
</div>
<div class="beneylu-jim"></div>