<div class="modal-body">
	<div class="loader loader-sb"></div>
	<div class="category-editor">
		<input type="text" name="" value="" placeholder="Titre de la nouvelle catégorie" style="border-radius: 3px {# BECAUSE WE DON'T HAVE ICON... #}" />
	</div>
</div>