{% trans_default_domain "HOMEWORK" %}
<div class="modal-body">
    <div class="content-modal-body">
        <h2>{% trans %}TITLE_SURE_TO_DELETE_DISCIPLINE{% endtrans %}</h2>

        <p class="sub-category-warning">
            {% trans %}DELETE_DISCIPLINE_INFO{% endtrans %}
        </p>

        <input type="hidden" id="delete-category-id" />
    </div>
</div>
<div class="beneylu-jim"></div>