{% trans_default_domain 'BLOG' %}
<div class="modal-body">
	<div class="content-modal-body">
        {{ 'TITLE_CONFIRMATION_PROGRAM_ARTICLE'|trans |desc('
        <h2>Attention, vous avez configuré la date de publication de quelques minutes/heures dans le futur...</h2>
         <h3>Si vous confirmez cette publication, le statut de l\'article se transformera en publication programmée et celui-ci ne sera publié qu\'à l\'heure souhaitée.</h3>
         ') |raw }}
	</div>
</div>
<div class="beneylu-jim"></div>
