{% extends 'BNSAppMiniSiteBundle:Layout:back_widget.html.twig' %}

{% block widget_content %}
	<p class="name-rss">
		{% trans %}MiniSite.Back.Custom.Widgets.RSS.URL{% endtrans %} : {{ form_widget(form.rss_url) }}
	</p>

	<p class="number-rss">{% trans %}MiniSite.Back.Custom.Widgets.RSS.Limit{% endtrans %}
	{{ form_widget(form.limit) }}
	</p>

	{{ form_rest(form) }}
{% endblock %}