{% extends 'BNSAppMiniSiteBundle:Layout:front_widget.html.twig' %}

{% block widget_content %}
	<div class="widget-content">
		<h2>{{ widget.getTitle() }}</h2>
		{{ render(controller('BNSAppMiniSiteBundle:FrontWidget:renderRss', {'widget': widget} )) }}
	</div>
{% endblock %}