{# TODO : virer le fix #}
<li class="layout-row">
	<p class="notification flex-75">{% autoescape false %}{{ notification.trans('SYSTEM').content | replace({'/ent/ent' : '/ent'}) }}{% endautoescape %}</p>
	<p class="date flex-20">{{ date_from_now(notification.getDate()) }}</p>
</li>
