<md-input-container class="md-icon-float bns-input-filter">
  <label translate>MAIN.FILTER</label>
  <md-icon>search</md-icon>
  <input ng-model="groupFilter.filterText" type="text" />
</md-input-container>

<div ng-show="!(groupFilter.filters.choices.length)" class="no-item" translate>MAIN.NO_ITEM</div>
<bns-checkbox-group choices="groupFilter.filters.choices" ng-model="groupFilter.selection"></bns-checkbox-group>

<div class="btn-show-more" ng-show="groupFilter.filters.choices.length < groupFilter.currentLength">
  <md-button ng-click="groupFilter.showMore()">{{ 'MAIN.SHOW_MORE' | translate }}</md-button>
</div>
