<div class="modal-body">
    <div class="content-modal-body">
        {% if is_child() %}
            <h2>Es-tu sûr de vouloir te désinscrire du forum ?</h2>
            <h3>Tu perdras l'accès au forum.<br />Tes messages seront anonymisés.</h3>
        {% else %}
            <h2>Êtes-vous sûr de vouloir vous désinscrire du forum ?</h2>
            <h3>Vous perdrez l'accès au forum.<br />Vos messages seront anonymisés.</h3>
        {% endif %}
    </div>
</div>
<div class="beneylu-jim"></div>