<div class="flex layout-row cms-builders">
  <div container class="flex layout-row">
    <md-content class="md-padding flex layout-row pushed">
      <div class="cms-content">
        <img src="/ent/assets/images/apps/builders/bdp-logo.png" alt="" class="centered logo">
        <p translate>BUILDERS.CMS_BUILDERS_P1</p>
        <p translate>BUILDERS.CMS_BUILDERS_P2</p>
        <br>
        <p translate>BUILDERS.CMS_BUILDERS_P3</p>
        <p translate>BUILDERS.CMS_BUILDERS_P4</p>

        <div class="builders-logo flex layout-row layout-align-center-center">
          <img src="/ent/app/images/apps/builders/logo/bdp_grand.png" alt="" class="centered logo" />
          <img src="/ent/app/images/apps/builders/logo/synlab.png" alt="" class="centered logo" />
          <img src="/ent/app/images/apps/builders/logo/canope.jpg" alt="" class="centered logo" />
          <img src="/ent/app/images/apps/builders/logo/lafrancesengage.png" alt="" class="centered logo" />
        </div>
      </div>



    </md-content>

    <md-button ng-click="ctrl.showMenu()" class="back-to-stories md-whiteframe-z2" href>
      <span translate>BUILDERS.BUTTON_BACK_TO_MENU</span>
    </md-button>

    <md-button ui-sref="^.^.home" class="md-icon-button md-fab md-fab-top-right">
      <md-icon>close</md-icon>
    </md-button>
  </div>
</div>
