<div class="flex layout-row cms-characters">
  <div container class="flex layout-row">
    <md-content class="md-padding flex pushed">
      <h1 translate>BUILDERS.TITLE_CHARACTERS</h1>

      <div class="builders-characters-container">
        <div class="character character-jim">
          <h3>Beneylu&nbsp;Jim</h3>
          <p translate>BUILDERS.DESCRIPTION_BENEYLU_JIM</p>
        </div>

        <div class="character character-carla">
          <h3>CARLA</h3>
          <p translate>BUILDERS.DESCRIPTION_CARLA</p>
        </div>

        <div class="character character-brabrabra">
          <h3>Brabrabra</h3>
          <p translate>BUILDERS.DESCRIPTION_BRABRABRA</p>
        </div>

        <div class="image-characters"></div>
      </div>
    </md-content>

    <md-button ng-click="ctrl.showMenu()" class="back-to-stories md-whiteframe-z2" href>
      <span translate>BUILDERS.BUTTON_BACK_TO_MENU</span>
    </md-button>

    <md-button ui-sref="^.^.home" class="md-icon-button md-fab md-fab-top-right">
      <md-icon>close</md-icon>
    </md-button>
  </div>
</div>
