<div class="flex layout-row cms-tool">
  <div container class="flex layout-gt-md-row">
    <div class="flex-gt-md-35 layout-row layout-align-center-center tool-left-container">
      <md-button ng-click="ctrl.showMenu()" class="back-to-stories md-whiteframe-z2" href>
        <span translate>BUILDERS.BUTTON_BACK_TO_MENU</span>
      </md-button>
      <md-button ui-sref="^.^.home" class="md-icon-button md-fab md-fab-top-right hide-gt-md">
        <md-icon>close</md-icon>
      </md-button>
      <div>
        <h1 translate>BUILDERS.TITLE_CMS_TOOLS</h1>
        <p translate>BUILDERS.PRESENTATION_CMS_TOOLS</p>
      </div>
    </div>
    <md-content class="flex-gt-md-65 md-padding tool-right-container">
      <md-button ui-sref="^.^.home" class="md-icon-button md-fab md-fab-top-right hide-sm hide-md">
        <md-icon>close</md-icon>
      </md-button>

      <h2 translate>BUILDERS.TITLE_TOOLS_TO_IDENTIFY</h2>
      <div class="layout-row resource-block">
        <div class="flex-10"><img src="/ent/assets/images/apps/builders/resources/1.jpg" alt=""></div>
        <div class="flex-60">
          <h3 translate>BUILDERS.TITLE_INVESTIGATION</h3>
          <p translate>BUILDERS.PRESENTATION_INVESTIGATION</p>
        </div>
        <div class="flex-30 text-right">
          <md-button class="md-primary md-raised"
          bns-ga-event="{category: 'Semaine des possibles', action: 'download', label: '1-mener-l-enquete.pdf'}"
          ng-href="{{::url||resources.get('1-mener-l-enquete.pdf')}}"
          target="_blank">
          <span translate>BUILDERS.DOWNLOAD</span>
        </md-button>
      </div>
    </div>
    <div class="layout-row resource-block">
      <div class="flex-10"><img src="/ent/assets/images/apps/builders/resources/5.jpg" alt=""></div>
      <div class="flex-60">
        <h3 translate>BUILDERS.TITLE_ON_HOME_ROAD</h3>
        <p translate>BUILDERS.PRESENTATION_ON_HOME_ROAD</p>
      </div>
      <div class="flex-30 text-right">
        <md-button class="md-primary md-raised"
        bns-ga-event="{category: 'Semaine des possibles', action: 'download', label: '1-sur-le-chemin.pdf'}"
        ng-href="{{::url||resources.get('1-sur-le-chemin.pdf')}}"
        target="_blank">
        <span translate>BUILDERS.DOWNLOAD</span>
      </md-button>
    </div>
  </div>
  <div class="layout-row resource-block">
    <div class="flex-10"><img src="/ent/assets/images/apps/builders/resources/9.jpg" alt=""></div>
    <div class="flex-60">
      <h3 translate>BUILDERS.TITLE_PROBLEMS_TREE</h3>
      <p translate>BUILDERS.PRESENTATION_PROBLEMS_TREE</p>
    </div>
    <div class="flex-30 text-right">
      <md-button class="md-primary md-raised"
      bns-ga-event="{category: 'Semaine des possibles', action: 'download', label: '1-l-arbre-a-probleme.pdf'}"
      ng-href="{{::url||resources.get('1-l-arbre-a-probleme.pdf')}}"
      target="_blank">
      <span translate>BUILDERS.DOWNLOAD</span>
    </md-button>
  </div>
</div>

<h2 translate>BUILDERS.TITLE_TOOLS_TO_IMAGINE</h2>
<div class="layout-row resource-block">
  <div class="flex-10"><img src="/ent/assets/images/apps/builders/resources/2.jpg" alt=""></div>
  <div class="flex-60">
    <h3 translate>BUILDERS.TITLE_MENINGES</h3>
    <p translate>BUILDERS.PRESENTATION_MENINGES</p>
  </div>
  <div class="flex-30 text-right">
    <md-button class="md-primary md-raised"
    bns-ga-event="{category: 'Semaine des possibles', action: 'download', label: '2-le-remue-meninges.pdf'}"
    ng-href="{{::url||resources.get('2-le-remue-meninges.pdf')}}"
    target="_blank">
    <span translate>BUILDERS.DOWNLOAD</span>
  </md-button>
</div>
</div>
<div class="layout-row resource-block">
  <div class="flex-10"><img src="/ent/assets/images/apps/builders/resources/6.jpg" alt=""></div>
  <div class="flex-60">
    <h3 translate>BUILDERS.TITLE_WARM_MENINGES</h3>
    <p translate>BUILDERS.PRESENTATION_WARM_MENINGES</p>
  </div>
  <div class="flex-30 text-right">
    <md-button class="md-primary md-raised"
    bns-ga-event="{category: 'Semaine des possibles', action: 'download', label: '2-echauffons-nos-meninges.pdf'}"
    ng-href="{{::url||resources.get('2-echauffons-nos-meninges.pdf')}}"
    target="_blank">
    <span translate>BUILDERS.DOWNLOAD</span>
  </md-button>
</div>
</div>

<h2 translate>BUILDERS.TITLE_TOOLS_TO_REALIZE</h2>
<div class="layout-row resource-block">
  <div class="flex-10"><img src="/ent/assets/images/apps/builders/resources/3.jpg" alt=""></div>
  <div class="flex-60">
    <h3 translate>BUILDERS.TITLE_YOUNG_JOURNALIST</h3>
    <p translate>BUILDERS.PRESENTATION_YOUNG_JOURNALIST</p>
  </div>
  <div class="flex-30 text-right">
    <md-button class="md-primary md-raised"
      bns-ga-event="{category: 'Semaine des possibles', action: 'download', label: '3-carnet-de-journaliste.pdf'}"
      ng-href="{{::url||resources.get('3-carnet-de-journaliste.pdf')}}"
      target="_blank">
      <span translate>BUILDERS.DOWNLOAD</span>
    </md-button>
  </div>
</div>
<div class="layout-row resource-block">
  <div class="flex-10"><img src="/ent/assets/images/apps/builders/resources/10.jpg" alt=""></div>
  <div class="flex-60">
    <h3 translate>BUILDERS.TITLE_THEATER</h3>
    <p translate>BUILDERS.PRESENTATION_THEATER</p>
  </div>
  <div class="flex-30 text-right">
    <md-button class="md-primary md-raised"
      bns-ga-event="{category: 'Semaine des possibles', action: 'download', label: '2-theatre-forum.pdf'}"
      ng-href="{{::url||resources.get('2-theatre-forum.pdf')}}"
      target="_blank">
      <span translate>BUILDERS.DOWNLOAD</span>
    </md-button>
  </div>
</div>

<h2 translate>BUILDERS.TITLE_TOOLS_TO_SHARE</h2>
<div class="layout-row resource-block">
  <div class="flex-10"><img src="/ent/assets/images/apps/builders/resources/4.jpg" alt=""></div>
  <div class="flex-60">
    <h3 translate>BUILDERS.TITLE_DOCUMENT_VIDEO_PROJECT</h3>
    <p translate>BUILDERS.PRESENTATION_DOCUMENT_VIDEO_PROJECT</p>
  </div>
  <div class="flex-30 text-right">
    <md-button class="md-primary md-raised"
      bns-ga-event="{category: 'Semaine des possibles', action: 'download', label: '4-video-finale.pdf'}"
      ng-href="{{::url||resources.get('4-video-finale.pdf')}}"
      target="_blank">
      <span translate>BUILDERS.DOWNLOAD</span>
    </md-button>
  </div>
</div>
<div class="layout-row resource-block">
  <div class="flex-10"><img src="/ent/assets/images/apps/builders/resources/8.jpg" alt=""></div>
  <div class="flex-60">
    <h3 translate>BUILDERS.TITLE_EXPERIENCE_CHECKPOINT</h3>
    <p translate>BUILDERS.PRESENTATION_EXPERIENCE_CHECKPOINT</p>
  </div>
  <div class="flex-30 text-right">
    <md-button class="md-primary md-raised"
      bns-ga-event="{category: 'Semaine des possibles', action: 'download', label: '4-bilan-experience-vecue.pdf'}"
      ng-href="{{::url||resources.get('4-bilan-experience-vecue.pdf')}}"
      target="_blank">
      <span translate>BUILDERS.DOWNLOAD</span>
    </md-button>
  </div>
</div>
<div class="layout-row resource-block">
  <div class="flex-10"><img src="/ent/assets/images/apps/builders/resources/11.jpg" alt=""></div>
  <div class="flex-60">
    <h3 translate>BUILDERS.TITLE_ORAL_PRESENTATION</h3>
    <p translate>BUILDERS.PRESENTATION_ORAL_PRESENTATION</p>
  </div>
  <div class="flex-30 text-right">
    <md-button class="md-primary md-raised"
      bns-ga-event="{category: 'Semaine des possibles', action: 'download', label: '4-presentation-orale.pdf'}"
      ng-href="{{::url||resources.get('4-presentation-orale.pdf')}}"
      target="_blank">
      <span translate>BUILDERS.DOWNLOAD</span>
    </md-button>
  </div>
</div>
<div class="layout-row resource-block">
  <div class="flex-10"><img src="/ent/assets/images/apps/builders/resources/11.jpg" alt=""></div>
  <div class="flex-60">
    <h3 translate>BUILDERS.TITLE_ACTION_PLAN</h3>
    <p translate>BUILDERS.PRESENTATION_ACTION_PLAN</p>
  </div>
  <div class="flex-30 text-right">
    <md-button class="md-primary md-raised"
               bns-ga-event="{category: 'Semaine des possibles', action: 'download', label: '3-plan-d-action.pdf'}"
               ng-href="{{::url||resources.get('3-plan-d-action.pdf')}}"
               target="_blank">
      <span translate>BUILDERS.DOWNLOAD</span>
    </md-button>
  </div>
</div>
</md-content>
  </div>
</div>
