<div class="user-directory-inner-topbar user-directory-selection">
  <h2 class="user-directory-selection-title" translate>USER_DIRECTORY.MY_SELECTION</h2>
</div>

<div class="user-directory-inner-content user-directory-selection">
  <scrollable>

    <div bns-user-directory-distribution-list="ctrl.selectionDistribution.list" selection="ctrl.selectionDistribution" locked="ctrl.lockedDistribution"></div>
    <div bns-user-directory-group-list="ctrl.selectionGroup.list" selection="ctrl.selectionGroup" locked="ctrl.lockedGroup"></div>
    <div bns-user-directory-role-list="ctrl.selectionRole.list" selection="ctrl.selectionRole" locked="ctrl.lockedRole"></div>
    <div bns-user-directory-user-list="ctrl.selection.list" selection="ctrl.selection" locked="ctrl.locked"></div>

  </scrollable>
</div>
