<div class="modal-footer">
	<div class="content-btn-footer">
		<a href="#" id="resource-garbage-empty-confirm" class="btn btn-danger btn-confirm-delete-pupil"><span class="icons-delete-modal-white"></span><strong>Vider la corbeille</strong></a>
		<a href="#" class="btn" data-dismiss="modal"><span class="icons-delete-modal"></span><strong>Annuler</strong> <br /></a>
	</div>
</div>