<div class="modal-footer">
	<div class="content-btn-footer">
		<a href="#" id="" class="btn btn-danger btn-confirm-delete-pupil resource-selection-delete-confirm"><span class="icons-delete-modal-white"></span><strong>Mettre à la corbeille</strong></a>
		<a href="#" class="btn" data-dismiss="modal"><span class="icons-delete-modal"></span><strong>Annuler</strong> <br /></a>
	</div>
</div>