<div class="modal-body">
	<div class="content-modal-body">
		<div class="add-label-form">
			<h4>Nom du dossier</h4>
			<input id="resource-sidebar-new-label-input" type="text" placeholder="Saisir le nom du nouveau dossier" />
		</div>
		<div class="row layer loader" style='display:none;'>
			<h4>Création en cours</h4>
			<img src="{{ asset('/medias/images/icons/big-loader.gif') }}" alt="" />
		</div>	
	</div>
</div>
<div class="beneylu-jim"></div>
            