{% set is_favorite = resource.id in favorites_ids or (is_favorite is defined and is_favorite) %}
{% if is_favorite %}
	{% set div_class = 'favorite' %}
{% else %}
	{% set div_class = '' %}	
{% endif %}

<div id="resource-{{resource.id}}" class=" resource-view resource-drag block-resource {{ div_class }}">
	{% include 'BNSAppResourceBundle:FrontNavigation:resourceBlockContent.html.twig' with {'resource': resource , 'is_favorite' : is_favorite, 'selection_ids' : selection_ids } %}
</div>