<li>
	<a class="resource-nav" data-slug="{{ label.getSlug() }}" rel="history" href="{{ path('resource_navigate', {'slug': label.getSlug() }) }}" title="{{ label.getLabel() }}">
		<span class="icons arrow"></span>
		<span class="icons folder"></span>
		{{ label.getLabel() }}
		<div class="separator"></div>
	</a>
	{% if label.getChildren()|length > 0 %}
		<ul>
			{% for child in label.getChildren %}
				{% include 'BNSAppResourceBundle:FrontNavigation:sidebarLabel.html.twig' with {'label' : child} %}
			{% endfor %}
		</ul>
	{% endif %}
</li>