{% trans_default_domain "CLASSROOM" %}
<div class="loader loader-sb"></div>
<div class="modal-body">
	<div class="content-modal-body">
		<h2>{{ 'TITLE_SURE_TO_CREATE_PARENT_FOR'|trans({'%user%': user.getFullName()|escape}) |desc('Êtes-vous sûr de vouloir créer un nouveau parent pour %user%') }}</h2>
		<h3>

		</h3>
	</div>
</div>
<div class="beneylu-jim"></div>
