{% trans_default_domain "CLASSROOM" %}
<div class="modal-body">
	<div class="content-modal-body large">
		<div class="loader loader-sb show">
			<div class="message">
                {{ 'LOADING_PLEASE_WAIT'|trans |desc('Chargement en cours, veuillez patienter...') }}
			</div>
		</div>
		<div class="form-content"></div>
	</div>
</div>
