<div class="alert alert-success alert-add-user create-user-success hide">
	Le nouvel <span class="user-role-label"></span> a bien été créé
</div>

<div class="alert alert-success alert-add-user invite-user-success hide">
	Le nouvel <span class="user-role-label"></span> a bien été invité
</div>

<div class="add-user-modal-content"></div>

<div class="loader create-user-loader hide">
	<p><img src="{{ asset('/medias/images/icons/medium-loader.gif') }}" />
	Le processus de création du nouvel <span class="user-role-label"></span> est en cours, veuillez patienter...</p>
</div>

<div class="loader invite-user-loader hide">
	<p><img src="{{ asset('/medias/images/icons/medium-loader.gif') }}" />
	Le processus d'invitation du nouvel <span class="user-role-label"></span> est en cours, veuillez patienter...</p>
</div>