{% trans_default_domain "CLASSROOM" %}
<div class="modal-footer">
	<div class="content-btn-footer">
		<a href="{{ path('BNSAppClassroomBundle_back_leave_partnership', { 'partnershipSlug': partnership.getSlug }) }}" class="btn bns-danger btn-24 medium-return">
			<span class="icons-24 delete-icon"></span>
            {{ 'LINK_DELETE_PARTNERSHIP'|trans |desc('<strong>Supprimer</strong><br />le partenariat') |raw}}
		</a>
		<a href="#" class="btn bns-notice btn-24 medium" data-dismiss="modal">
			<span class="icons-24 back-icon"></span>
      <strong>{% trans %}LINK_CANCEL{% endtrans %}</strong>
		</a>
	</div>
</div>
