{% trans_default_domain "CLASSROOM" %}
<div class="loader loader-sb"></div>
<div class="modal-body">
	<div class="content-modal-body">
        {{ 'TITLE_SURE_TO_REACTIVATE_USER'|trans({'%user%': user.getFullName |escape, '%beneylu_brand_name%': parameter('beneylu_brand_name')}) |desc('
        			<h2>Êtes-vous sûr de vouloir réactiver le compte de "%user%" ?</h2>
		<h3>
			Cet utilisateur pourra à nouveau se connecter à %beneylu_brand_name%.
		</h3>
        ') |raw }}
	</div>
</div>
<div class="beneylu-jim"></div>
