{% trans_default_domain "CLASSROOM" %}
<div class="modal-body">
	<div class="content-modal-body">
        {{ 'TITLE_SURE_TO_LEAVE_CLASS'|trans |desc('
        			<h2>Êtes-vous sûr de vouloir quitter la classe  ?</h2>
		<h3>
			Vous ne pourrez plus intéragir avec cette classe ainsi que ses élèves.<br />
			<strong>Attention</strong>, cette action est irréversible !
		</h3>
        ') |raw }}

	</div>
</div>
<div class="beneylu-jim"></div>
