{% trans_default_domain "CLASSROOM" %}
<div class="modal-body">
	<div class="content-modal-body">
		{% if user.getId() == app.user.id %}
      <h2>{% trans %}TITLE_REGENERATE_PASSWORD{% endtrans %}</h2>
		{% else %}
      <h2>
		{% endif %}
          {{ 'TITLE_REGENERATE_PASSWORD_OF' |trans({'%user%': user.getFullName()}) |desc('Êtes-vous sûr de vouloir regénérer le mot de passe du compte de %user% ?') }}</h2>
    </div>
</div>
<div class="beneylu-jim"></div>
