{% trans_default_domain "CLASSROOM" %}
<div class="loader loader-sb"></div>
<div class="modal-body">
	<div class="content-modal-body">

        <h2>
            {{ 'TITLE_SURE_SAVE_MODIFICATION' |trans({'%user%': user.getFullName()}) |desc('Êtes-vous sûr de vouloir enregistrer les modifications effectuées sur le profil de %user% ?') }}
        </h2>
	</div>
</div>
<div class="beneylu-jim"></div>
