{% trans_default_domain "CLASSROOM" %}
<div class="loader loader-sb"></div>
<div class="modal-body">
	<div class="content-modal-body">
        {{ 'TITLE_SURE_TO_SAVE_MODIFICATION'|trans |desc('
        			<h2>Êtes-vous sûr de vouloir enregistrer les changements effectués ?</h2>
		<h3>
			Tous les changements effectués vont être appliqués,<br />et les utilisateurs sélectionnés retirés du groupe.<br />
		</h3>
        ') |raw }}
	</div>
</div>
<div class="beneylu-jim"></div>
