{% trans_default_domain "CLASSROOM" %}
<div class="modal-footer">
	<div class="content-btn-footer">
		<a href="#" class="btn bns-success validate-medium btn-24 medium create-group-btn" data-dismiss="modal">
			<span class="icons-24 validate-icon"></span>
      <strong>{% trans %}LINK_ADD{% endtrans %}</strong>
		</a>
		<a href="#" class="btn bns-success validate-medium btn-24 medium create-group-btn">
			<span class="icons-24 validate-icon"></span>
      <strong>{% trans %}LINK_ADD_CONTINUE{% endtrans %}</strong>
		</a>
		<a href="#" class="btn bns-notice btn-24 medium" data-dismiss="modal">
			<span class="icons-24 back-icon"></span>
      <strong>{% trans %}LINK_CANCEL{% endtrans %}</strong>
		</a>
	</div>
</div>
