{% extends 'BNSAppRegistrationBundle:Layout:confirmation.html.twig' %}

{% block title %}
	Merci, votre école sera bientôt validée !
{% endblock %}

{% block header %}
	<a href="{{ path('home') }}"><img src="{{ asset('/medias/images/registration/beneyluschool.png') }}" /></a>
	<h1>Inscrire son école</h1>
	<p>Si votre école ne fait pas encore partie de Beneylu School, vous pouvez l'inscrire.</p>
{% endblock header %}

{% block content %}
	<h2>Merci</h2>
	<h3>Votre école doit maintenant être validée par nos soins avant de pouvoir apparaître sur Beneylu School.</h3>
	<p>L'école recevra une confirmation par email à l'adresse que vous avez renseignée.</p>
	<p>
		<strong>L'équipe Beneylu School</strong>
	</p>
{% endblock content %}

{% block beneylu_jim %}{% endblock %}
