{% extends 'BNSAppRegistrationBundle:Layout:confirmation.html.twig' %}

{% block title %}
	Merci pour votre inscription
{% endblock %}
	
{% block css %}
	{{ parent() }}
{% endblock css %}

{% block header %}
	<h1>Confirmation de la pré-inscription</h1>
	<p></p>	
{% endblock %}
	
{% block content %}
	<h2>Bienvenue</h2>
	<p></p>
	<p>Votre pré-inscription a bien été prise en compte.</p>
	
	<p>Vous serez parmi les premiers avertis du retour de Beneylu School, un email contenant vos informations de connexion vous sera alors envoyé automatiquement.</p>

	<p>
		A très bientôt,
	</p>
	<p>
		<strong>L'équipe Beneylu School.</strong>
	</p>
{% endblock %}