{% extends 'BNSAppRegistrationBundle:Layout:confirmation.html.twig' %}

{% block title %}
	Merci pour votre inscription
{% endblock %}
	
{% block css %}
	{{ parent() }}
{% endblock css %}

{% block header %}
	<h1>Confirmation d'inscription</h1>
	<p></p>	
{% endblock %}

{% block analytics %}
    {{ analyticsAlias(teacher) }}
    {{ analyticsIdentify(teacher, app.session) }}
{% endblock %}
	
{% block content %}
	<h2>Bienvenue</h2>
	<p></p>
	<p>Votre inscription a bien été prise en compte.</p>
	
	<p>Nous sommes ravis de vous accueillir sur Beneylu School</p>

	<p>Vous avez dû recevoir vos informations de connexion par email, à l'adresse renseignée lors de l'étape précédente.</p>
	
	<p>A très vite</p>
	<p>
		<strong>L'équipe Beneylu School.</strong>
	</p>
{% endblock %}
