{% trans_default_domain "LIAISONBOOK" %}
<div class="loader loader-sb"></div>
<div class="modal-body">
    <div class="content-modal-body">
        {{ 'TITLE_SURE_TO_DELETE_MESSAGE'|trans |desc('<h2>Êtes-vous sûr de vouloir supprimer le message ?</h2><h3>Vous perdrez la totalité du contenu du message.</h3><h3>A noter que les documents joints/insérés ne seront pas supprimés.</h3>') |raw }}
    </div>
</div>
<div class="beneylu-jim"></div>
