<div class="modal-footer">
	<div class="content-btn-footer">
		<a href="#" class="btn btn-danger valid-delete"><span class="icons-delete-modal-white"></span> <strong>Supprimer</strong> <br /> l'occurence</a>
		<a href="#" class="btn" data-dismiss="modal"><span class="icons-delete-modal"></span> <strong>Annuler</strong><br /> la suppression</a>
	</div>
</div>