<md-bottom-sheet allow-scroll="true" class="layout-row bns-bottom-sheet-menu" ng-cloak>
  <md-content class="flex layout-gt-md-row layout-align-gt-md-start-center" style="margin-top: auto; margin-bottom: auto;">
    <div class="flex layout-column layout-align-center-center">
      <h1 class="tour-activities-title" translate>TOUR.TITLE_ACTIVITY_SHEETS</h1>
      <div class="tour-activities-description" translate>TOUR.DESCRIPTION_ACTIVITY_SHEETS</div>
    </div>
    <md-list class="flex layout-row layout-align-start-center layout-wrap tour-activities-list">
      <!-- panama -->
      <md-list-item class="panama">
        <md-button href="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/tour/panama-fiche-activite.pdf" target="_blank" class="layout-column">
          <div class="md-whiteframe-z2 tour-activity-tile">
            <div class="tour-activity-logo"></div>
          </div>
          <div class="md-title">Panama</div>
          <div class="md-body-1" translate>TOUR.LINK_ACTIVITY_SHEET</div>
        </md-button>
      </md-list-item>

      <!-- malta -->
      <md-list-item class="malte">
        <md-button href="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/tour/malte-fiche-activite.pdf" target="_blank" class="layout-column">
          <div class="md-whiteframe-z2 tour-activity-tile">
            <div class="tour-activity-logo"></div>
          </div>
          <div class="md-title">Malte</div>
          <div class="md-body-1" translate>TOUR.LINK_ACTIVITY_SHEET</div>
        </md-button>
      </md-list-item>

      <!-- massachusetts -->
      <md-list-item class="massachusetts">
        <md-button href="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/tour/massachusetts-fiche-activite.pdf" target="_blank" class="layout-column">
          <div class="md-whiteframe-z2 tour-activity-tile">
            <div class="tour-activity-logo"></div>
          </div>
          <div class="md-title">Massachusetts</div>
          <div class="md-body-1" translate>TOUR.LINK_ACTIVITY_SHEET</div>
        </md-button>
      </md-list-item>

      <!-- colorado -->
      <md-list-item class="colorado">
        <md-button href="https://storage.gra1.cloud.ovh.net/v1/AUTH_03caab6673f7495a9b7f2af36e8d748e/beneylu-public/tour/colorado-fiche-activite.pdf" target="_blank" class="layout-column">
          <div class="md-whiteframe-z2 tour-activity-tile">
            <div class="tour-activity-logo"></div>
          </div>
          <div class="md-title">Colorado</div>
          <div class="md-body-1" translate>TOUR.LINK_ACTIVITY_SHEET</div>
        </md-button>
      </md-list-item>
    </md-list>
  </md-content>
</md-bottom-sheet>
