<div class="row-fluid">
	<div class="span1"></div>
	<div class="span11">
		<div class="container-header-messaging">
			<div class="content-header-messaging">
				<div class="border-messaging">
					<button id="messaging-top-new-message" class="btn write-new-msg btn-messaging write messaging-top-button pull-left">
						<span class="background-button blue">
							<span class="icons-message new"></span>
							<span class="text">Ecrire un <br />nouveau message</span>
							{#<span class="text hover">Clique pour écrire <br/>un nouveau message</span>#}
						</span>
					</button>
					<button id="messaging-top-search-submit" class="btn write-new-msg btn-messaging search messaging-top-search messaging-top-button pull-right">
						<span class="background-button search messaging-top-search gold">
							<span class="text">Rechercher</span>
							{#<span class="text hover search">Rechercher</span>#}
						</span>
					</button>
					<input type="text" id="messaging-top-search-input" class="input-xlarge messaging-top-search messaging-top-button" placeholder="Entrer la recherche">

					<button id="messaging-top-answer" class="btn write-new-msg btn-messaging answer messaging-top-button pull-right">
						<span class="background-button answer green">
							<span class="icons-message reply"></span>
							<span class="text">Répondre</span>
							{#<span class="text hover">Clique pour répondre</span>#}
						</span>
					</button>
					<button id="messaging-top-send" class="btn write-new-msg btn-messaging inbox messaging-top-button pull-right">
						<span class="background-button send green">
							<span class="icons-message send"></span>
							<span class="text">Envoyer</span>
							{#<span class="text hover">Clique pour envoyer</span>#}
						</span>
					</button>
					<button id="messaging-top-back-inbox" class="btn write-new-msg btn-messaging inbox messaging-top-button pull-left">
						<span class="background-button prev gold">
							<span class="icons-message return"></span>
							<span class="text">Revenir à la <br /> boîte de réception</span>
							{#<span class="text hover">Clique pour revenir </span>#}
						</span>
					</button>
					<button id="messaging-top-back-search" class="btn write-new-msg btn-messaging inbox messaging-top-button pull-right">
						<span class="background-button prev gold">
							<span class="icons-message return"></span>
							<span class="text">Revenir à la <br />recherche</span>
							{#<span class="text hover">Clique pour revenir</span>#}
						</span>
					</button>
					<button id="messaging-top-back-outbox" class="btn write-new-msg btn-messaging inbox messaging-top-button pull-right">
						<span class="background-button prev gold">
							<span class="icons-message return"></span>
							<span class="text">Revenir à la <br/>boîte d'envoi</span>
							{#<span class="text hover">Clique pour revenir</span>#}
						</span>
					</button>
					<button id="messaging-top-back-draftbox" class="btn write-new-msg btn-messaging inbox messaging-top-button pull-left">
						<span class="background-button prev gold">
							<span class="icons-message return"></span>
							<span class="text">Revenir à la <br/>boîte des brouillons</span>
							{#<span class="text hover">Clique pour revenir</span>#}
						</span>
					</button>
					
					<button id="messaging-top-delete" class="btn write-new-msg btn-messaging delete messaging-top-button pull-right">
						<span class="background-button delete red">
							<span class="icons-message delete"></span>
							<span class="text">Supprimer<br/>le message</span>
							{#<span class="text hover">Clique pour supprimer</span>#}
						</span>
					</button>
					<button id="messaging-top-draft" class="btn write-new-msg btn-messaging delete messaging-top-button pull-right">
						<span class="background-button save-draft orange">
							<span class="icons-message save"></span>
							<span class="text">Enregistrer en <br/>brouillon</span>
							{#<span class="text hover">Clique pour enregistrer</span>#}
						</span>
					</button>

					<button id="messaging-top-restore" class="btn write-new-msg btn-messaging answer messaging-top-button pull-right">
						<span class="background-button answer">
							<span class="icons-message restore"></span>
							<span class="text">Restaurer</span>
							{#<span class="text hover">Clique pour restaurer</span>#}
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="big-post">
			<div class="left"></div>
			<div class="middle"></div>
			<div class="right"></div>
		</div>
		<div class="small-bar"></div>
	</div>
</div>