<div id="messaging-main-loader" class="content-title-messaging">
	<div class="title-left"></div>
	<div class="title-messaging">
		<h1>Chargement<img class="messaging-loading" src="{{ asset('/medias/images/icons/big-loader.gif') }}" alt="" /></h1>
	</div>
	<div class="title-right"></div>
</div>