<div class="span1">
	<div class="left-post"></div>
</div>
<div class="span3">
	<div class="content-sidebar-messaging">
		<div class="border-top-sidebar"></div>
		<ul>
			<li>
				<a id="messaging-sidebar-inbox" href="#"  class="mailFolder btn messaging-sidebar-button message-inbox">
					<span class="icons-not-read"></span>
					Messages reçus
				</a>
			</li>
			<li>
				<a id="messaging-sidebar-outbox" href="#" class="mailFolder btn messaging-sidebar-button">
					<span class="icons-message-send"></span>
					Voir les <br /> messages envoyés
				</a>
			</li>
			<li>
				<a id="messaging-sidebar-draftbox" href="#" class="mailFolder btn messaging-sidebar-button">
					<span class="icons-draft"></span>
					Voir mes <br /> brouillons
				</a>
			</li>
			<li>
				<a id="messaging-sidebar-deletedbox" href="#" class="mailFolder btn messaging-sidebar-button">
					<span class="icons-message-delete"></span>
					Voir les <br /> messages supprimés
				</a>
			</li>
		</ul>
	</div>
</div>