<div class="modal-footer">
	<div class="content-btn-footer">
		<a href="{{ path('workshop_multimedia_notebook_delete_page', {'slug': slug, 'id': id}) }}" class="btn bns-danger btn-24 medium-return">
			<span class="icons-24 delete-icon"></span>
			<strong>Confirmer</strong><br />
			la suppression
		</a>
		<a href="#" class="btn bns-notice btn-24 medium" data-dismiss="modal">
			<span class="icons-24 back-icon"></span>
			<strong>{% trans %}Modal.Close{% endtrans %}</strong>
		</a>
	</div>
</div>