<div class="modal-body">
	<div class="content-modal-body">
		{% if is_adult() %}
			<h2>Êtes-vous sûr de vouloir supprimer cette page ?</h2>
		{% else %}
			<h2>Êtes-tu sûr de vouloir supprimer cette page ?</h2>
		{% endif %}
			
		<h3>Cette action est irrécupérable.</h3>
	</div>
</div>
<div class="beneylu-jim"></div>