<a href="#" class="btn look-image btn-warning bns-insert-resources bns-viewer-invoker" data-slug="{{ media.getSlug() }}" data-uid="{{ media.getUserId() }}" data-id="{{ media.getId() }}">
  <span class="look-image"></span>
  {{ media.label }}
</a>
