{% trans_default_domain "PROFILE" %}
<div class="verify-result">
    {% if target_user_roles != null %}
        <div class="roles-found">
            <p>{% trans %}THIS_USER_IS{% endtrans %}
            {% for group in target_user_roles %}
                {% for role in group['roles'] %}
                    {% if target_user_roles|length > 1 or group['roles']|length > 1 %}<p>&nbsp;&nbsp;&nbsp;&nbsp;-{% endif %}
                    {{ role['label'] }}
                        {% if role['type'] == 'PARENT'%}
                            {% if user_children_group[group['group']['id']] is defined and user_children_group[group['group']['id']]|length%}
                              {% trans %}OF{% endtrans %}
                                {% for childrenFullName in  user_children_group[group['group']['id']] %}
                                    {% if loop.index > 1 and loop.index != user_children_group[group['group']['id']]|length %}
                                        ,
                                    {% elseif loop.index > 1 and loop.index == user_children_group[group['group']['id']]|length%}
                                        {% trans %}AND{% endtrans %}
                                    {% endif %}
                                    <i>{{ childrenFullName }}</i>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        {{ group_types_label[group['group']['group_type_id']]|trans }}
                        <i>{{ group['group']['label'] }}</i>
                    <p>
                {% endfor %}
            {% endfor %}
        </div>
    {% else %}
        <bns-inset class="bns-warn bns-small">
          {% trans %}COMBINATION_LOGIN_PASSWORD_INVALID{% endtrans %}
        </bns-inset>
    {% endif %}
</div>
