{% trans_default_domain "MAIN" %}
{% extends '::base.html.twig' %}
{% import 'BNSAppMainBundle:Components:macros.html.twig' as components %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">
    var $redirectUrl = '{{ redirect }}';
  </script>
  <script type="text/javascript" src="{{ asset('/medias/js/main/invitation.js') }}"></script>
{% endblock %}

{% block body %}
  <div class="office"></div>
  <div ng-cloak="" layout-container layout="row" layout-align="center center" layout-wrap="center">
      {% include 'BNSAppMainBundle:Invitation:invitation_list.html.twig' with {'invitations': invitations} %}
  </div>
{% endblock %}
