{% trans_default_domain "CLASSROOM" %}
<div class="container-section focus">
    <div class="section">
        <a href="{{ path('classroom_manager_changeyear') }}">{% trans %}CHANGE_YEAR{% endtrans %}</a>
    </div>
</div>
