<div class="modal-footer">
	<div class="content-btn-footer">
		<a href="#" class="btn bns-notice btn-24 medium" data-dismiss="modal">
			<span class="icons-24 back-icon"></span>
			<strong>Annuler</strong>
		</a>
	</div>
</div>