<div class="media-library-upload-drop-incentive">

  <img src="/ent/angular/app/images/media-library/media-library-fade.png" alt="" class="incentive-image">

  <div class="incentive-text" translate>MEDIA_LIBRARY.UPLOAD_DROP_INCENTIVE_HTML</div>

  <div class="incentive-more">
    <p class="incentive-or" translate>MEDIA_LIBRARY.OR</p>

    <div class="btn-group">
      <a href="" data-toggle="dropdown" class="btn btn-lg btn-primary dropdown-toggle">
        <strong translate>MEDIA_LIBRARY.ADD</strong>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="" ng-click="addFolder()" translate>MEDIA_LIBRARY.ADD_FOLDER_HTML</a>
        </li>
        <li>
          <a href="" ng-click="triggerUploadBrowse()" translate>MEDIA_LIBRARY.ADD_FILE_HTML</a>
        </li>
        <li>
          <a href="" ng-click="addUrl()" translate>MEDIA_LIBRARY.ADD_LINK_HTML</a>
        </li>
      </ul>
    </div>
  </div>
</div>
