{% trans_default_domain "CLASSROOM" %}
<div class="item">
  <div class="buttons-container">
    <a href="{{ path('BNSAppClassroomBundle_back_pupil_detail', {'userSlug': teacher.getSlug()}) }}" class="btn bns-notice btn-16 small right btn-visualisation">
      <span class="icons-16 arrow-right-icon right"></span>
      <strong>{% trans %}LINK_SEE_CARD{% endtrans %}</strong>

    </a>
  </div>
  <div class="header">
    <img class="avatar" src="{{ avatar(teacher, 'thumbnail') }}" alt="" />
    <p class="name">{{ teacher.getFullName() }}</p>
    <p class="informations">
      {{ teacher.getEmail() }}
    </p>
  </div>
</div>
