<bns-modal class="workshop-info-modal">
  <div class="modal-body type">

    <h2 translate>WORKSHOP.AUDIO.MICROPHONE_ACCESS_NEEDED</h2>

    <div translate>WORKSHOP.AUDIO.GRANT_MICROPHONE_ACCESS_IN_BROWSER_THEN_RELOAD</div>
    <br>

    <div class="pull-right">
      <button ng-click="ctrl.cancel()" class="btn btn-default" translate>WORKSHOP.AUDIO.CANCEL</button>
      <button ng-click="ctrl.reload()" class="btn btn-success" translate>WORKSHOP.AUDIO.RELOAD_PAGE</button>
    </div>

    <div class="clearfix"></div>

  </div>
</bns-modal>
