{% trans_default_domain "GPS" %}
<div class="modal-body">
	<div class="loader loader-sb"></div>
	<div class="category-editor">
		<div class="category-icon-selector">
			<span class="default"></span>
		</div>
		<input type="text" name="" value="" placeholder="{{"PLACEHOLDER_TITLE_NEW_CATEGORY"|trans}}" />
	</div>
</div>
