{% trans_default_domain "GPS" %}
<div class="modal-body">
	<div class="content-modal-body">
    <h2>{{ 'TITLE_SURE_TO_REMOVE_CATEGORY'|trans |desc('Êtes-vous sûr de vouloir supprimer la catégorie "<span class="title"></span>" ?') |raw }}</h2>
		<p class="sub-category-warning">
      {% trans %}DESCRIPTION_DELETE_CATEGORY{% endtrans%}
		</p>
		<input type="hidden" id="delete-category-id" />
	</div>
</div>
<div class="beneylu-jim"></div>
