<div class="loader loader-sb"></div>
<div class="modal-body">
	<div class="content-modal-body">
		<h2>Êtes-vous sûr de vouloir supprimer le lieu <strong>"{{ place.label }}"</strong>  ?</h2>
	</div>
</div>
<div class="beneylu-jim"></div>