{# ToolBar settings #}
{% include 'BNSAppResourceBundle:ToolBar:toolbar_settings.html.twig' with {
	'navigationContext': 'GALLERY'
} %}

<div class="full-height">
	<div class="resource-add-choose-content full-height">	
		<div class="resource-add-buttons">
			<a href="{{ path('BNSAppResourceBundle_add_files') }}" rel="history">
				<span class="files resource-add-buttons-content">
					<span>
						Envoyer des documents
					</span>
				</span>
			</a>
			<a href="{{ path('BNSAppResourceBundle_add_url') }}" rel="history">
				<span class="link resource-add-buttons-content">
					<span>
						Enregistrer des liens
					</span>
				</span>
			</a>
		</div>
	</div>
</div>