<div class="modal-footer">
	<div class="content-btn-footer">
		<a id="resource-add-url-first-step-submit" class="btn bns-success validate-medium btn-24 medium">
			<span class="icons-24 validate-icon"></span>
			<strong>Ajouter les adresses</strong>
		</a>
		<a href="#" class="btn btn-large" data-dismiss="modal">
			<span class="icons-delete-modal"></span>
			<strong>Annuler</strong> <br />
		</a>
	</div>
</div>