<form id="resource-add-url-first-step-form" action="{{ path("BNSAppResourceBundle_add_url_submit") }}" method="post">
	<div class="modal-body">
		<div class="content-modal-body">
			<div class="add-label-form">
				<input id="add-url-input" name="url[]" class="add-url-input" type="text" placeholder="Adresse du site" />
				<img id="add-url-add" src="{{ asset('/medias/images/resource/integration/add-resource-icon.png') }}" alt="" class="pull-right" />
				<img id="add-url-less" src="{{ asset('/medias/images/resource/integration/less-resource-icon.png') }}" alt="" class="pull-right add-url-less" style="display:none;"/>
			</div>
		</div>
	</div>
	<div class="beneylu-jim"></div>
</form>