{% trans_default_domain "CLASSROOM" %}
<div class="team-item">
	<div class="header">
		<img class="avatar" src="{{ avatar(user, 'thumbnail') }}" alt="" />
		<p class="name">{{ user.getFullName() }}</p>
        <p class="informations">
			{% if user.getEmail() is null %}<div class="clearfix"></div> {% else %} {% trans %}EMAIL{% endtrans %} : {{ user.getEmail() }} {% endif %}
		</p>
	</div>
</div>
