<bns-modal modal-close="closeModal" modal-title="Choisir un nouveau thème">
  <div class="modal-body">
    @todo: theme preview
    <pre>{{ theme }}</pre>
  </div>

  <div class="modal-footer">
    <div class="content-btn-footer">
      <a href="" class="btn bns-success btn-24 medium" ng-click="confirm()">
        <span class="icons-24 validate-icon"></span>
        <strong>Confirmer</strong>
      </a>
      <a href="" class="btn btn-24 medium" ng-click="closeModal()">
        <span class="icons-24 back-icon"></span>
        <strong>Annuler</strong>
      </a>
    </div>
  </div>
</bns-modal>
