{% trans_default_domain "DIRECTORY" %}
<div class="loading-container">
		<img src="{{ asset('/medias/images/icons/medium-loader.gif') }}" alt="Gif animé de chargement" /> {{ 'LABEL_lOADING_IN_PROGRESS'|trans |desc('Chargement en cours, veuillez patienter...') }}
	</div>

<div class="directory-container directory-main-container"></div>
<script type="text/javascript">
	var $isDirectoryFirstLoad = true;
	$(document).ready(function()
	{
		// new navbar
		$('body').on('bns.directory_invoke', handleDirectoryClick);

		// old dockbar
		$('div.content-dockbar img').click(function (event) {
			if ($(this).parent().attr('data-module') != 'DIRECTORY') {
				return;
			}

			handleDirectoryClick(event);
		});

		function handleDirectoryClick(event)
		{

			event.preventDefault();
			$('#directory-modal').modal({
				backdrop: false
			});
			var realHeight = $(window).height() - 150 + 'px';
			$('#directory-modal').css('height',realHeight);
			$('#directory-modal').css('min-height',realHeight);
			$('#directory-modal').css('max-height',realHeight);
			
			if ($isDirectoryFirstLoad) {
				$.ajax({
					url: Routing.generate('BNSAppDirectoryBundle_front'),
					type: 'GET',
					dataType: 'html',
					success: function(data)
					{
						$('div.loading-container').hide();
						$('div.directory-main-container').html(data);
						
					}
				});

				$isDirectoryFirstLoad = false;
			}
		}
	});
</script>
