{% trans_default_domain "PROFILE" %}
{% extends 'BNSAppProfileBundle:Layout:manager.html.twig' %}

{% block title %}
	{{ parent() }} {% trans %}TITLE_STATUS{% endtrans %}
{% endblock title %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(function ()
		{
			$('body').on('click', '.item-list-container .item', function (e)
			{
				window.location = $(e.currentTarget).find('.btn-visualisation').attr('href');
			});

			if ($('.bns-alert') > 0) {
				setTimeout(function ()
				{
					$('.bns-alert div').slideUp('fast', function () { var $this = $(this); $this.parent().slideUp('fast', function () { $this.show() }) });
				}, 8000);
			}
		});
	</script>
{% endblock javascripts %}

{% block actionbar_content %}
	{{ components.button( 'LINK_CREATE_NEW_STATUS' | trans , { intent: 'primary', href: path('profile_manager_feed_new'), icon: 'add_circle', raised: true }) }}
{% endblock actionbar_content %}

{% block sidebar_content %}
	{% include 'BNSAppProfileBundle:Sidebar:sidebar.html.twig' with {'section': 'status', 'profile': user.getProfile()} %}
{% endblock sidebar_content %}


{% block content %}
	<md-toolbar class="content-toolbar">
		<div class="md-toolbar-tools layout-align-start-center">
			<bns-sidebar-toggle></bns-sidebar-toggle>
			<h1 class="md-title text-primary text-left flex flex-gt-sm-33">{% trans %}TITLE_MINE_STATUS{% endtrans %}</h1>
		</div>
	</md-toolbar>
		{% include 'BNSAppMainBundle:BNSAlert:index.html.twig' %}
		{% include 'BNSAppProfileBundle:Status:back_status_list.html.twig' %}
{% endblock content %}
