{% trans_default_domain "COMMENT" %}

{% if comments|length > 0 %}
	{% for comment in comments %}
		{% include 'BNSAppCommentBundle:Back:comment_row.html.twig' %}
	{% endfor %}
{% else %}
	<div class="no-comment">
        {% if status == 'VALIDATED' %}
            {{ 'NO_VALIDATED_COMMENT_FIND'|trans |desc('Aucun commentaire publié n\'a été trouvé.') }}
        {% elseif status == 'REFUSED' %}
            {{ 'NO_REFUSED_COMMENT_FIND'|trans |desc('Aucun commentaire refusé n\'a été trouvé.') }}
        {% elseif status == 'PENDING_VALIDATION' %}
            {{ 'NO_PENDING_VALIDATION_COMMENT_FIND'|trans |desc('Aucun commentaire en modération n\'a été trouvé.') }}
        {% endif %}
	</div>
{% endif %}

{% include 'BNSAppCommentBundle:Back:comment_pager.html.twig' %}