<md-content ui-view="content" class="flex layout-column">

  <bns-inset bns-inset-elevation="0" bns-inset-size="small">
    <p class="md-body-2" translate translate-values="{label: ctrl.group.label}">LSU.DESCRIPTION_RECORDS_OF_GROUP</p>
  </bns-inset>

  <div ng-if="ctrl.busy" class="flex layout-row layout-align-center-center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <bns-inset ng-if="ctrl.hasNoRecord" class="md-padding flex layout-row layout-align-center-center">
    <p class="md-body-2 text-center" translate>LSU.DESCRIPTION_NO_RECORD</p>
  </bns-inset>

  <bns-inset ng-if="::ctrl.error" class="md-padding flex layout-row layout-align-center-center bns-warn">
    <p class="md-body-2 text-center">{{ctrl.error|translate}}</p>
  </bns-inset>

  <md-list>
    <div ng-repeat="(userId,userRecords) in ctrl.recordsByUser">
      <md-subheader class="bns-subheader-solid md-subhead">
        <div class="md-title">{{::ctrl.users[userId].full_name}}</div>
      </md-subheader>
      <md-list-item ng-repeat="record in userRecords">
        <div>
          <span>{{record.lsu_template.period}}</span>
          <span class="text-muted"> - <span translate translate-values="{ from: moment(record.lsu_template.started_at).format('LL'), to: moment(record.lsu_template.ended_at).format('LL')}">LSU.LABEL_TEMPLATE_PERIOD_FROM_TO</span></span>
        </div>
        <md-button class="md-secondary" ui-sref=".view({id: record.id})">
          <md-icon>visibility</md-icon>
          <span ng-bind-html="'LSU.BUTTON_VIEW_RECORD'|translate|buttonize"></span>
        </md-button>
        <md-divider></md-divider>
      </md-list-item>
    </div>
  </md-list>
</md-content>
