<div class="dialog-content md-whiteframe-z4">
  <div class="md-padding">
    <h3 class="md-headline" translate>STARTER_KIT.TITLE_CONGRATS</h3>
    <div class="md-title" ng-bind-html="ctrl.step.data.content|trustHtml"></div>
  </div>
  <div class="layout-row layout-align-end-center">
    <md-button ng-click="ctrl.accept()" class="md-primary">
      <span ng-bind-html="'STARTER_KIT.BUTTON_CONTINUE'|translate|buttonize"></span>
      <md-icon>chevron_right</md-icon>
    </md-button>
  </div>
</div>
