<div class="dialog-content md-whiteframe-z4">
  <form ng-submit="skdialog.valid && skdialog.next()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span class="flex md-title">{{skdialog.step.data.title}}</span>
      </div>
    </md-toolbar>
    <div class="md-padding">
      <bns-transclude-dest name="starter-kit-step-{{transcludeName}}"></bns-transclude-dest>
      <div class="md-body-2" ng-bind-html="skdialog.step.data.content"></div>
    </div>
    <div class="layout-row layout-align-space-between-center">
      <md-button type="button" ng-click="skdialog.prev()" class="md-icon-button">
        <md-icon>chevron_left</md-icon>
      </md-button>
      <md-button type="button" ng-disabled="!skdialog.valid" ng-click="skdialog.next()" class="md-primary">
        <span ng-bind-html="ctrl.step.data.accept || ('STARTER_KIT.BUTTON_CONTINUE'|translate|buttonize)"></span>
        <md-icon>chevron_right</md-icon>
      </md-button>
    </div>
  </form>
</div>
