<div container>
  <md-button class="md-fab md-fab-top-left" ui-sref="^.map">
    <md-icon>close</md-icon>
  </md-button>
</div>

<md-content class="flex layout-column main-container flex olympics-heroes-container">
  <div class="olympics-heroes">
    <h1 class="md-display-2 text-center">Les héros Beneylu</h1>
    <div class="olympics-characters"></div>
    <div class="layout-gt-md-row layout-align-gt-md-center-start">
      <div class="hero hero-carla md-padding">
        <h3 class="md-title">CARLA</h3>
        <div class="md-body-2">Pilote hors pair, il transporte l’équipe vers les missions les plus difficiles. Son talent est d’arriver une fois le danger éloigné avec son fameux “je savais pas”.</div>
      </div>
      <div class="hero hero-jim md-padding">
        <h3 class="md-title">Beneylu Jim</h3>
        <div class="md-body-2">Il est l’agent de terrain idéal : aventurier et doté d’un esprit vif, il se voit confier les missions les plus périlleuses.</div>
      </div>
      <div class="hero hero-brabrabra md-padding">
        <h3 class="md-title">Brabrabra</h3>
        <div class="md-body-2">Elle est la scientifique de l’équipe, aussi à l’aise avec un fer à souder qu’avec un ordinateur. Sa manie de bricoler tard la nuit fait que Brabrabra n’aime pas le matin.</div>
      </div>
    </div>
  </div>

</md-content>
