{% trans_default_domain 'USER' %}
{% extends 'BNSAppRegistrationBundle:Layout:confirmation.html.twig' %}

{% block title %}
    {{ 'TITLE_ALREADY_MAKE_RESET_REQUEST'|trans |desc('Vous avez déjà fait une demande de réinitialisation de mot de passe') }}
{% endblock %}

{% block header %}
	{{ 'CONFIRM_TOO_SPEED'|trans |desc('<h1>Confirmation </h1>
	<p>Oops, vous allez un peu vite !</p>
') |raw }}
{% endblock header %}

{% block confirmation_type %} confirmation warning {% endblock %}

{% block content %}
    {{ 'DESCRIPTION_RESET_PASSWORD_REQUEST'|trans({'%beneylu_brand_name%': parameter('beneylu_brand_name')}) |desc('	<h3>Vous avez déjà fait une demande de réinitialisation de mot de passe</h3>
	<p>	Attention, vous devez attendre trente minutes entre chaque demande de réinitialisation de mot de passe. </p>
	<p>Vous n\'avez toujours pas reçu l\'e-mail ? Nous vous conseillons de regarder votre boite de messages indésirables, peut-être que le message s\'est glissé à cet endroit.</p>
<p>
    <strong>L\'équipe %beneylu_brand_name%</strong>
</p>
') |raw }}
{% endblock content %}

{% block beneylu_jim %}{% endblock %}

