{% trans_default_domain 'USER' %}
{% extends 'BNSAppRegistrationBundle:Layout:confirmation.html.twig' %}

{% block header %}
				<h1>{{ 'TITLE_CONFIRM'|trans |desc('Confirmation') }}</h1>
				<p>{{ 'EMAIL_SENT'|trans |desc('Un mail a été envoyé') }}</strong></p>
{% endblock %}
{% block big_content %}
<div class="container container-fluid container-fluid-registration">
	<div class="container-registration">
		<div class="row-fluid">
			<div class="span12">
				<h3 class="reset-password">{{ 'TITLE_MAIL_JUST_SEND_TO_YOU'|trans |desc('Un e-mail vient de vous être envoyé.') }}</h3>
				<p class="reset-password">{{ 'WILL_FIND_CONFIRM_LINK_TO_RESET_PASSWORD' |trans |desc('Vous y trouverez un lien de confirmation sur lequel cliquer pour terminer le processus de réinitialisation de votre mot de passe.') }}
				</p><br />
			</div>
		</div>
	</div>
</div>
{% endblock big_content %}
