{% extends 'BNSAppRegistrationBundle:Layout:confirmation.html.twig' %}

{% block title %}
Merci, un mail a été envoyé !
{% endblock %}

{% block header %}
<a href="#"><img src="/medias/images/registration/beneyluschool.png" /></a>
<h1>Confirmation </h1>
<p>Un mail a été envoyé.</p>
{% endblock header %}

{% block content %}
<h3>Votre mot de passe a été envoyé par e-mail.</h3>
<p>Vous allez recevoir très rapidement un e-mail comportant votre mot de passe temporaire, puis à votre prochaine connexion,
	vous serez invité à choisir un nouveau mot de passe.</p>
<p>
	<strong>L'équipe Beneyluschool</strong>
</p>
{% endblock content %}

{% block beneylu_jim %}{% endblock %}
