<div class="modal-body">
	<div class="content-modal-body">
		<h2>Êtes-vous sûr de vouloir supprimer le libellé<br /><span class="title"></span> ?</h2>

		<p class="sub-category-warning">
			<b>ATTENTION</b> : la suppression de ce libellé entraînera également la suppression des <b>fichiers</b> qui lui sont liés et de tous ses <b>sous-libellés</b>.
		</p>
		
		<input type="hidden" id="delete-category-id" />
	</div>
</div>
<div class="beneylu-jim"></div>