<h2>{{ is_adult() ? 'Êtes-vous' : 'Es-tu' }} sûr de vouloir mettre à la corbeille le document qui se trouve à cet emplacement ?</h2>
<p>{{ is_adult() ? 'Vous pourrez' : 'Tu pourras' }} toujours restaurer le document depuis la corbeille.</p>