<div class="loader loader-sb">
	<div class="message">
		Déplacement vers la corbeille en cours...
	</div>
</div>

<div class="modal-body">
	<div class="content-modal-body">
		{% include 'BNSAppResourceBundle:Modal:file_label_delete_partial_body.html.twig' %}
	</div>
</div>
<div class="beneylu-jim"></div>