<div class="loader loader-sb">
	<div class="message">
		Restauration en cours...
	</div>
</div>

<div class="modal-body">
	<div class="content-modal-body">
		<h2>{{ is_adult() ? 'Êtes-vous' : 'Es-tu' }} sûr de vouloir restaurer ce document ?</h2>
		<p>Le document en question retrouvera sa place au sein de la médiathèque</p>
	</div>
</div>
<div class="beneylu-jim"></div>