{% include 'BNSAppResourceBundle:Modal:file_label_delete_partial_body.html.twig' %}

<br />
<h2>Ce document est utilisé par d'autres utilisateurs</h2>
<p>Il sera invisible aux autres utilisateurs dès que celui-ci sera mis en corbeille. La restauration le rendra à nouveau visible.</p>