<div class="loader loader-sb show">
	<div class="message">
		Vérification des droits en cours...
	</div>
</div>

<div class="modal-body garbage-deletion-container">
	<div class="content-modal-body" id="documents-container"></div>
</div>