<div class="modal-footer">
	<div class="content-btn-footer pull-right">
		<a href="{{ path('resource_garbage_delete') }}" class="btn bns-danger btn-24 medium delete-category-button" id="resource-selection-delete-forever-confirm" data-target="#garbage-delete-document-modal">
			<span class="icons-24 delete-icon"></span>
			<strong>Supprimer la sélection</strong>
		</a>
		<a href="#" class="btn bns-notice btn-24 medium" data-dismiss="modal">
			<span class="icons-24 back-icon"></span>
			<strong>Annuler</strong>
		</a>
	</div>
</div>