<div class="modal-body">
	<div class="content-modal-body">
		<h2>{{ is_adult() ? 'Êtes-vous' : 'Es-tu' }} sûr de vouloir restaurer cette sélection de documents ?</h2>
		<p>Les documents en question retrouveront leur place au sein de la médiathèque</p>
	</div>
</div>
<div class="beneylu-jim"></div>