<div class="modal-footer">
	<div class="content-btn-footer pull-right">
		<a href="{{ path('resource_garbage_restore') }}" class="btn bns-warning btn-24 medium" id="garbage-restore-confirm">
			<span class="icons-24 restore-icon"></span>
			<strong>Restaurer la sélection</strong>
		</a>
		<a href="#" class="btn bns-notice btn-24 medium" data-dismiss="modal">
			<span class="icons-24 back-icon"></span>
			<strong>Annuler</strong>
		</a>
	</div>
</div>