<div class="sidebar-menu-container">
	<div class="title-section-sidebar">{% trans %}Blog.Back.Sidebar.Dates{% endtrans %} <span class="icon-arrow-down"></span></div>
	<div id="section-article-links" class="collapse">
		CATEGORIE CONTENT
	</div>
</div>