{% trans_default_domain "BLOG" %}
{% set choices = [
{
  name: 'form_filter[status][]',
  value: constant('BNS\\App\\CoreBundle\\Model\\BlogArticlePeer::STATUS_PUBLISHED_INTEGER'),
  htmlLabel: '<span>'~('PUBLISH_ARTICLE'|trans)~'</span><span class="indicator"> ('~filterIndicators['PUBLISHED']|default('0')~')</span>',
}, {
  name: 'form_filter[status][]',
  value: 'programmed',
  htmlLabel: '<span>'~('PROGRAMMED_ARTICLE'|trans)~'</span><span class="indicator"> ('~filterIndicators['PROGRAMMED']|default('0')~')</span>',
}, {
  name: 'form_filter[status][]',
  value: constant('BNS\\App\\CoreBundle\\Model\\BlogArticlePeer::STATUS_WAITING_FOR_CORRECTION_INTEGER'),
  htmlLabel: '<span>'~('ARTICLES_TO_CORRECT'|trans)~'</span><span class="indicator"> ('~filterIndicators['WAITING_FOR_CORRECTION']|default('0')~')</span>',
}, {
  name: 'form_filter[status][]',
  value: constant('BNS\\App\\CoreBundle\\Model\\BlogArticlePeer::STATUS_FINISHED_INTEGER'),
  htmlLabel: '<span>'~('ARTICLES_FINISHED'|trans)~'</span><span class="indicator"> ('~filterIndicators['FINISHED']|default('0')~')</span>',
}, {
  name: 'form_filter[status][]',
  value: constant('BNS\\App\\CoreBundle\\Model\\BlogArticlePeer::STATUS_DRAFT_INTEGER'),
  htmlLabel: '<span>'~('DRAFTS'|trans)~'</span><span class="indicator"> ('~filterIndicators['DRAFT']|default('0')~')</span>',
}
] %}

<bns-expander class="article-statuses-filter" label="{{ 'FILTER_ARTICLE' | trans }}" is-open="true">
  <bns-checkbox-group name="" id="form_filter_status" ng-model="model_filter['status']" choices="{{ choices|serialize }}" bns-status></bns-checkbox-group>
</bns-expander>
