{% trans_default_domain "BLOG" %}
<div class="sidebar-menu-container">
	<div class="title-section-sidebar">{% trans %}STUDENTS{% endtrans %} <span class="icon-arrow-down"></span></div>
	<div id="section-article-student" class="collapse">
		CATEGORIE CONTENT
	</div>
</div>