<div class="title-container articles-statuses-info">
	<div class="title active border-blue">Statut de l'article <span class="square icon-arrow"></span></div>
	<div class="content-title">
		<ul>
			{% if (article.isDraft()) %}
				<li class="text-row"><div><span class="vertical-separator gray"></span> <span>Brouillon</span></div></li>
			{% elseif (article.isFinished()) %}
				<li class="text-row"><div><span class="vertical-separator blue"></span> <span>Article terminé</span></div></li>
			{% elseif (article.isWaitingForCorrection()) %}
				<li class="text-row"><div><span class="vertical-separator orange"></span> <span>Article à corriger</span></div></li>
			{% elseif (article.isProgrammed()) %}
				<li class="text-row"><div><span class="vertical-separator purple"></span> <span>Article programmé</span></div></li>
			{% elseif article.isPublished() %}
				<li class="text-row"><div><span class="vertical-separator green"></span> <span>Article publié</span></div></li>
			{% else %}
				Unkwown article status !
			{% endif %}
		</ul>
	</div>
</div>