{% trans_default_domain "BLOG" %}

<bns-expander class="articles-statuses-info" label="{{ 'ARTICLE_STATUS' | trans }}" is-open="true">
  <div class="md-padding article-status status-{{ article.getStatus() }}">
    {% if (article.isDraft()) %}
      <span class="vertical-separator gray"></span> <span>{% trans %}DRAFT{% endtrans %} </span>
    {% elseif (article.isFinished()) %}
      <span class="vertical-separator blue"></span> <span>{% trans %}ARTICLE_FINISHED{% endtrans %}</span>
    {% elseif (article.isWaitingForCorrection()) %}
      <span class="vertical-separator orange"></span> <span>{% trans %}ARTICLE_TO_CORRECT{% endtrans %} </span>
    {% elseif (article.isProgrammed()) %}
      <span class="vertical-separator purple"></span> <span>{% trans %}ARTICLE_PROGRAM{% endtrans %}</span>
    {% elseif article.isPublished() %}
      <span class="vertical-separator green"></span> <span>{% trans %}ARTICLE_PUBLISH{% endtrans %} </span>
    {% else %}
      Unkwown article status !
    {% endif %}
  </div>
</bns-expander>
