<div class="modal-footer">
	<a href="{{ route }}" class="btn btn-danger delete-process">{% trans %}MiniSite.Back.General.Delete{% endtrans %}</a>
	<a href="#" class="btn btn-inverse" data-dismiss="modal">{% trans %}Modal.Close{% endtrans %}</a>
</div>