{% extends 'BNSAppResourceBundle:Back:layout.html.twig' %}

{% block sidebar %}{% include "BNSAppResourceBundle:Back:sidebar.html.twig" with {"page" : 'index' , "section" : "une"} %} {% endblock %}

{% block content %}
<div class="news-title dashboard">
	<h1>Admin ressources</h1>
</div>

{% endblock %}