{% trans_default_domain "PROFILE" %}
{% extends 'BNSAppProfileBundle:Layout:manager.html.twig' %}

{% block title %}
  {% trans %}TITLE_PROFILE_COMMENT{% endtrans %}

{% endblock title %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    // Moderation comments
    $(function(){
      $('.container-sidebar .moderation-comment').click(function (e)
      {
        var $this = $(e.currentTarget);
        if ($this.hasClass('loading')) {
          return false;
        }

        $this.addClass('loading');

        $.ajax({
          url: $this.attr('href'),
          type: 'POST',
          data: {'state': !$this.hasClass('off')},
          success: function (data)
          {
            $this.removeClass('loading');
            $this.toggleClass('on').toggleClass('off');
          }
        });

        return false;
      });
    });
  </script>
{% endblock javascripts %}

{% block sidebar_content %}
  {% include 'BNSAppProfileBundle:Sidebar:sidebar.html.twig' with {'section': 'comments'} %}
{% endblock %}


{% block actionbar_content %}
  <span flex></span>
  {{ components.button( 'LINK_VALIDATE_ALL_COMMENTS' | trans , { intent: 'accent', href: '#', icon: 'done', raised: true, attr : {'class':' bns-success validate-all-comments'} }) }}
{% endblock actionbar_content %}


{% block content %}
  {% include 'BNSAppCommentBundle:BackNew:comment_index.html.twig' %}
{% endblock content %}
