{% trans_default_domain "BLOG" %}
<div class="container-article {% if article.isStar %}star{% endif %}">
        <div class="header-article">
			{% if i > 0 %}
				<div class="underline"></div>
			{% endif %}
            <h1 class="title">{{ article.getTitle() }}</h1>
            <md-divider class="underline"></md-divider>
            <md-divider></md-divider>
            <div class="container-description-article">
                {% include '@BNSAppBlog/Article/article_categories.html.twig' %}
                <div class="author-infos">
                    {{ 'ARTICLE_CREATE_FROM_PUBLISH_AT'|trans({'%image%':  '<img class="#" src=" ' ~ avatar(article.getAuthor(), 'thumbnail') ~ '" width="16" class="avatar"/>', '%userFullName%': article.getAuthor().getFullName() |escape, '%datePublish%': date_from_now(article.getPublishedAt(), false, true, 'medium', 'short', false, true)}) |desc('Ecrit par %image%<strong>%userFullName%</strong>, %datePublish%') |raw }}
                </div>
            </div>
        </div>
        <div class="article">
            {% autoescape false %}
                {{ parse_public_resources(article.getContent()|purify,true,'medium',true) }}
            {% endautoescape %}
        </div>
		<div class="resources">
			{# Pièces Jointes #}
			{% include 'BNSAppMediaLibraryBundle:Front:joined.html.twig' with {'medias': article.getResourceAttachments(), 'editable': false, 'objectType': 'BlogArticle', 'objectId': article.id, 'hideEmpty': true } %}
		</div>
		{% if article.isCommentAllowed() %}
			{% render controller('BNSAppCommentBundle:FrontComment:show', {
				'namespace':	'\\BNS\\App\\CoreBundle\\Model\\BlogArticleComment',
				'objectId':		article.getId(),
				'comments':		article.getBlogArticleCommentsFiltered(10, blog.id, onlyValidated is defined ? onlyValidated : false, app.user.id, has_right('BLOG_ADMINISTRATION') ),
				'ajaxLoading':	true
			}) %}
		{% endif %}
</div>
<md-divider></md-divider>
