<div class="title-container">
	<div class="title active border-blue">Date de création <span class="square icon-arrow"></span></div>
	<div class="content-title">
		<ul>
			<li class="text-row">
				<div>{{ date_from_now(information.getCreatedAt(), true, true) }}</div>
			</li>
		</ul>
	</div>
</div>