<div class="modal-body">
    <div class="content-modal-body">
        <h2>Êtes-vous sûr de vouloir supprimer <span class="title"></span> ?</h2>
        <input type="hidden" id="delete-item-slug" />
    </div>
</div>
<div class="beneylu-jim"></div>