<div class="modal-body">
	<div class="content-modal-body">
		<h2>Êtes-vous sûr de vouloir supprimer la réservation "{{ event.getTitle() }}" ?</h2>
		<h3>Vous perdrez la totalité du contenu de la réservation.</h3>
	</div>
</div>
<div class="beneylu-jim"></div>