{% extends 'BNSAppResourceBundle:Front:layout.html.twig' %}

{% block content %}
    <div class="alert bns-alert alert-danger">
        {{ message }}
        <div class="jim"></div>
    </div>
{% endblock content %}