{% for resource in resources %}
	{% if loop.first %}
		<h2>Vous êtes sur le point de supprimer les documents :</h2>
	{% endif %}
	
	<div class="resource-delete-preview">
		<img class="image-preview" src="{{ getResourceImageUrl(resource,'thumbnail') }}" />
		<span>{{ resource.label }}</span>
	</div>
	
{% else %}
	<h3>Vous n'avez pas les droits pour supprimer {% if resources|length > 1 %}ces documents{% elseif resources|length == 1 %}ce document{% endif %}.</h3>
{% endfor %}