{% for resource in resources %}
	{% if loop.first %}
		{% if is_child() %}
			<h2>Attention tu vas supprimer les documents :</h2>
		{% else %}
			<h2>Vous êtes sur le point de supprimer les documents :</h2>
		{% endif %}
	{% endif %}
	
	<div class="resource-delete-preview">
		<img class="image-preview" src="{{ getResourceImageUrl(resource,'thumbnail') }}" />
		<span>{{ resource.label }}</span>
	</div>
	
{% else %}
	{% if is_child() %}
		<h3>Tu ne peux pas supprimer ces documents.</h3>
	{% else %}
		<h3>Vous n'avez pas les droits pour supprimer ces documents.</h3>
	{% endif %}
{% endfor %}