<div class="md-whiteframe-z2 md-padding breakfast-tour-challenge-intro border-dashed">
  <div class="breakfast-tour-challenge-logo"></div>
  <h1 class="md-display-3 heading" translate>BREAKFAST_TOUR.TITLE_CHALLENGE_CHEFS</h1>
  <h2 class="md-display-2 heading" translate>BREAKFAST_TOUR.SUBTITLE_WITH_BEST_BREAKFAST</h2>
  <div class="md-body-1" translate style="margin-bottom: 20px;">BREAKFAST_TOUR.DESCRIPTION_CHALLENGE</div>

  <div class="layout layout-align-center-center breakfast-tour-navigation-button">
    <div class="pennant pennant-double">
      <md-button ng-click="ctrl.hasIntro = true" class="btn-lg">
        <div class="layout layout-align-center-center">
          <span class="breakfast-tour-challenge-logo"></span>
          <span translate>BREAKFAST_TOUR.LINK_CHALLENGE_CHEFS</span>
        </div>
      </md-button>
    </div>
  </div>
</div>

<div class="breakfast-tour-challenge-chefs"></div>
