<div class="title-container forum-destination-choice">
    <div class="title active border-blue">Groupe<span class="square icon-arrow"></span></div>
    <div class="content-title">
        <ul>
        {% for i,item in form.group.vars.choices %}
            <li>
                <label for="forum_form_type_group_{{ i }}">
                    <strong>{{ item.data }}</strong>
                    {{ form_widget(form.group[i]) }}
                </label>
            </li>
        {% endfor %}
        </ul>
    {% if form.group.vars.errors|length > 0 %}
        <div class="alert alert-danger bns-alert">
            {{ form_errors(form.group) }}
        </div>
    {% endif %}
    </div>
</div>