<div ng-repeat="item in ctrl.widget._embedded.extended_settings.choices">
  <div class="layout-row layout-align-start-center" ng-class="{'good-answer': (exists($index + 1, ctrl.myResponse) && !ctrl.canAnswer && exists($index + 1, ctrl.rightAnswers)) || (!ctrl.canAnswer && exists($index + 1, ctrl.correctAnswers) && !ctrl.widget._embedded.extended_settings.advanced_settings.hide_solution && !ctrl.canRetry)
  ,'wrong-answer': !ctrl.canAnswer && exists($index + 1, ctrl.myResponse) && !exists($index + 1, ctrl.rightAnswers) && !canRetry}">
      <md-checkbox ng-disabled="!ctrl.canAnswer || ctrl.timeStopped" class="md-primary md-secondary flex layout-row layout-align-start-center" ng-checked="exists($index + 1, ctrl.myResponse)" ng-click="toggle($index + 1, ctrl.myResponse)" aria-label="{{::item.label}}">
        <div ng-switch="ctrl.widget._embedded.extended_settings.advanced_settings.type">
          <span ng-switch-when="text">
            {{item.label}}
          </span>
          <div ng-switch-when="image" class="flex">
            <div bns-media-preview media-id="item.media_id"></div>
          </div>
        </div>
      </md-checkbox>
      <div class="bns-viewer-audio flex-80" ng-if="ctrl.widget._embedded.extended_settings.advanced_settings.type == 'audio'">
        <div bns-viewer-audio-player media-id="item.media_id" no-visualization="true" class="no-visualization questionnaire-audio" ></div>
      </div>
      <div ng-if="ctrl.widget._embedded.extended_settings.advanced_settings.type !== 'audio'">
        <div class="flex-none answer-text" ng-if="exists($index + 1, ctrl.myResponse) && !exists($index + 1, ctrl.rightAnswers) && !ctrl.canAnswer">
          <span translate>WORKSHOP.QUESTIONNAIRE.WRONG</span>
        </div>
        <div class="flex-none answer-text" ng-if="exists($index + 1, ctrl.myResponse) && exists($index + 1, ctrl.rightAnswers) && !ctrl.canAnswer">
          <span translate>WORKSHOP.QUESTIONNAIRE.CONGRATS</span>
        </div>
      </div>
  </div>
</div>
