<div class="workshop-layer">
  <div class="layout-row layout-align-start-center">
    <div class="workshop-widget-text question-wording" ng-bind-html="ctrl.widget.content | trustHtml"></div>
    <div class="flex"></div>
    <div class="layout-row layout-align-end-center" ng-if="ctrl.widget._embedded.extended_settings.advanced_settings.show_chrono">
      <div class="chrono-block layout-row layout-align-start-center">
        <div class="chrono-mono-icon"></div>
        <div>{{ctrl.widget._embedded.extended_settings.advanced_settings.chrono.minutes | numberFixedLen: 2}}:{{ctrl.widget._embedded.extended_settings.advanced_settings.chrono.seconds | numberFixedLen: 2}}</div>
      </div>
    </div>
  </div>
  <div ng-if="ctrl.widget._embedded.extended_settings.advanced_settings.show_help && ctrl.widget._embedded.extended_settings.advanced_settings.help">
    <div class="setting-block setting-help-block">
      <span translate>WORKSHOP.QUESTIONNAIRE.HELP</span> : {{ctrl.widget._embedded.extended_settings.advanced_settings.help}}
    </div>
  </div>
  <br>
    <md-radio-group ng-model="ctrl.widget._embedded.extended_settings.correct_answers" class="answer-list">
        <div class="layout-row" ng-repeat="item in ctrl.widget._embedded.extended_settings.choices" ng-class="{'answer-checked': $index + 1 == ctrl.widget._embedded.extended_settings.correct_answers}">
            <md-radio-button class="md-primary md-secondary layout-row layout-align-start-center" ng-value="$index + 1" aria-label="{{::item.label}}">
                <div ng-switch="ctrl.widget._embedded.extended_settings.advanced_settings.type">
                    <div ng-switch-when="text">
                        {{item.label}}
                    </div>
                    <div ng-switch-when="image" class="flex image-container">
                        <div ng-if="item.media_id" bns-media-preview media-id="item.media_id" size="widget_contain" link-id="ctrl.widget.id" link-class="WorkshopWidget"></div>
                    </div>
                    <div ng-switch-when="audio" class="flex">
                        <div class="bns-viewer-audio">
                            <div ng-if="item.media_id" bns-viewer-audio-player link-id="ctrl.widget.id" link-class="WorkshopWidget" media-id="item.media_id" no-visualization="true" bns-eat-click-if="true" class="no-visualization questionnaire-audio" ></div>
                        </div>
                    </div>
                </div>
            </md-radio-button>
        </div>
    </md-radio-group>
    <br>
  <div class="layout-row layout-align-center-center advanced-setting-block" ng-if="ctrl.widget._embedded.extended_settings.advanced_settings.show_clue && ctrl.widget._embedded.extended_settings.advanced_settings.clue">
    <div class="flex-20 setting-block">
      <p translate>WORKSHOP.QUESTIONNAIRE.SHOW_CLUE</p>
      <div class="clue-icon"></div>
    </div>
    <div class="flex">
      {{ctrl.widget._embedded.extended_settings.advanced_settings.clue}}
    </div>
  </div>
  <div ng-include="ctrl.templateAdvancedSettings"></div>
</div>
