{% include 'BNSAppMainBundle::notice.html.twig' %}

<div class="content-categories-management">
<div class="news-title dashboard-h3">
	<h3>{{ name }}</h3>
</div>


<ol class="load-sortable ui-sortable {{manageable_list_id}}">
	{% if labels|length > 0 %}
		{% for label in labels %}
			{% include "BNSAppResourceBundle:Label:listEditRow.html.twig" with {"label" : label,'type' : type} %}
		{% endfor %}
	{% endif %}
	<div class="no-item" {% if labels|length > 0 %} style="display: none;"{% endif %}>
	    <div class="bnj-not-found"></div>
	    <p>
		    Il n'y a aucun libellé actuellement.
	    </p>
	    <p class="buttons-container">
		    <a href="#" class="btn bns-info btn-24 large button-return add-category-button" data-target="#new-category-modal" data-toggle="modal">
			    <span class="icons-24 add-icon"></span>
			    Ajouter un libellé
		    </a>
	    </p>
	    <div class="clearfix"></div>
	</div>
</ol>
</div>