{% set id_pattern = type ~ '-' ~ label.getId %}

<li id="list_{{ id_pattern }}" data-toggle="menu" data-target="#category-edit-mode">
<div>
    <div class="loader loader-h" style="display: none;"></div>
    <span class="list-grip"></span>
    <div class="title">{{ label.label }}</div>
    <span class="close-button">×</span>
</div>
<div class="category-editor" style="display: none;">
    <input type="text" name="" value="{{ label.label }}">
    <a href="#" class="btn bns-success btn-16 validate-small submit-category" data-toggle="menu" data-target="#default-header">
	    <span class="icons-16 validate-icon"></span>
	    <strong>Valider</strong>
    </a>
</div>
{% if label.getChildren()|length > 0 %}
    <ol>
	    {% for subLabel in label.getChildren() %}
		    {% include "BNSAppResourceBundle:Label:listEditRow.html.twig" with {"label" : subLabel,'type' : type} %}
	    {% endfor %}
    </ol>
{% endif %}
</li>